/* =============================================
 Default styles + resets
 =============================================== */

*, body, header, nav ul {
	box-sizing: border-box;
	position: relative;
	margin: 0;
}

::selection {
	color: var(--green-lighter);
	background: #ffdea0;
}

/* =============================================
 Fonts
 =============================================== */

@font-face {
	font-family: DM Serif Display;
	src: url("/fonts/DMSerifDisplay-Regular-subset.woff2") format("woff2");
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: Nyght Serif Light;
	src: url("/fonts/NyghtSerif-Light-subset.woff2") format("woff2");
	font-weight: 400;
	font-display: swap;
}

/* =============================================
 Colours
 =============================================== */

:root {

	/* Main colour variables */
	--red: #fc1420;
	--red-rust: #af3500;

	--green-neon: #c4e53c;

	--mint-white: #fafff0;
	--off-white: #f7f7f7;

	--pink: #f7d7ff;
	--pink-cashmere: #ebb7c8;

	--peach: #f7c59f;

	--blue: #004e89;
	--blue-highlight: #253ca0;
	--blue-sapphire: #0028c7;
	--aquamarine: #7fffd4;

	--orange: #ff5704;

	/* Layout colour variables */
	--bg-gameslist: var(--blue);
	--shadow-color: 206deg 100% 11%;

	/* Text colour variables */
	--text-secondary: var(--off-white);
	--text-filter: var(--aquamarine);
}

/* =============================================
 Layout
 =============================================== */

:root {
	--width-main: calc(100% - 2rem);

	--space-xs: .5rem;
	--space-sm: .75rem;
	--space-md: 1rem;
	--space-lg: 2rem;
	--space-lgr: 2.5rem;
	--space-xl: 4rem;
}

@media (min-width: 50em) {
	:root {
		--max-width: 45rem;
		--max-width-home: 50rem;
	}

}

/* =============================================
 Fonts
 =============================================== */

:root {
	--font-body: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,	Apple Color Emoji, Segoe UI Emoji, sans-serif;
	--font-h2: DM Serif Display, Georgia, sans-serif;
	--font-h1: Nyght Serif Light, DM Serif Display, Georgia, sans-serif;
	--font-code: monospace;

	--font-bold: 700;

	--font-size-xl: 2.5rem;
	--font-size-lg: 1.5rem;
	--font-size-def: 1rem;
	--font-size-sm: .85rem;
	--font-size-xs: .75rem;

	--font-body-size: clamp(.875rem, 1.1rem, 1.25rem);
	
	--font-size-h1: clamp(1rem, var(--font-size-xl) + 1.9692vw, 4rem);
	--font-size-h2: clamp(1.5rem, calc(var(--font-size-xl) * 0.8), 3rem);
	--font-size-h3: clamp(0.5rem, 1.5rem, 2rem);
}

/* =============================================
The rest
=============================================== */

header {
	flex-direction: column;
	justify-content: center;
	padding: var(--space-xs);
	margin-block: var(--space-xl);
}

body {
	text-align: center;
	background: #004e89;
	color: #efefd0;
	line-height: 1.2;
	min-height: 100vh;
	font-size: var(--font-body-size);
	font-weight: 360;
	line-height: 1.625;
	font-family: var(--font-body);
}

h2, h3, ol, ul {
	margin-bottom: 1.4rem;
}

h1 {
	font-size: var(--font-size-h1);
	letter-spacing: -1px;
}

ul li ul {
	margin-bottom: 0;
}

nav ul {
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
}

h1 {
	font-family: var(--font-h1);
	line-height: 1;
}

h2 {
	font-family: var(--font-h2);
	font-size: var(--font-size-h2);
}

h3 {
	font-family: -apple-system;
	font-size: var(--font-size-h3);
  font-weight: 900;
  letter-spacing: -0.5px;
  color: var(--red-rust);
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	object-fit: contain;
	border-radius: 10px;
}

/* Brushed metal button courtesy of simurai: https://codepen.io/simurai/pen/kvyEeg */

a {
	color: #F7C59F;
	font-weight: 700;
	text-underline-offset: .1em;
	text-decoration-thickness: 1px;
}

a:active {
	outline: 0;
	border: none;
}

a:focus, a:hover {
	text-decoration: none;
}

a:focus {
	outline: currentColor dotted 2px;
}

h2, h3 {
	margin-bottom: 2rem;
	color: #efefd0;
}

h1 {
	font-size: calc(var(--font-size-h1) * 2);
	margin-bottom: var(--space-md);
}



#filter-text {
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: aquamarine;
	margin-bottom: var(--space-md);
}

.filter-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	justify-content: center;
	align-items: center;
	list-style: none;
	gap: 1rem;
	margin-bottom: 2rem;
}

button {
	padding: 0.5rem;
	font-size: 1.25rem;
	border-radius: .5em;
	background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 6%, hsla(0,0%,100%, .1) 7.5%),
	-webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0) 4%, hsla(0,0%,  0%,.03) 4.5%),
	-webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
	linear-gradient(180deg, hsl(0,0%,78%) 0%, hsl(0,0%,90%) 47%, hsl(0,0%,78%) 53%,	hsl(0,0%,70%)100%);
}

button[data-filter="clear"] {
	color: #efefef;
	padding: calc(0.5rem + 2px);
	background: none;
	border: none;
}

button:hover {
	cursor: pointer;
}

button:focus:not([data-filter*="clear"]) {
	border: 2px solid white;
	box-shadow: 0 0 4px 2px #48abe0;
}

button:active #play-symbol {
	color: #8f8;
}	

button:active #pause-symbol {
	color: orange;
}

button:active #eject-symbol {
	color: red;
}

.games-meta {
	margin-bottom: 3rem;
}

.games-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, auto));
	grid-row-gap: clamp(1rem, 3rem, 4rem);
	grid-column-gap: clamp(0.5rem, 1rem, 2rem);
	justify-content: center;
	justify-items: center;
	margin-bottom: 4rem;
}

.container {
	display: grid;
	grid-template-columns: 1fr;
	margin-inline: clamp(0.5rem, 1rem, 2rem);
}

.games-img {
	height: 250px;
	margin-bottom: 1rem;
	box-shadow: 0.5px 0.5px 0.8px hsl(var(--shadow-color) / 0.36), 1.4px 1.4px 2.2px -0.6px hsl(var(--shadow-color) / 0.36), 2.7px 2.9px 4.5px -1.2px hsl(var(--shadow-color) / 0.36), 5.6px 5.8px 9.1px -1.9px hsl(var(--shadow-color) / 0.36), 10.8px 11.3px 17.6px -2.5px hsl(var(--shadow-color) / 0.36);
	border-radius: 10px;
}

img {
	object-fit: contain;
	border-radius: 10px;
}

.data {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: center;
	max-width: 250px;
	height: 300px;
}

.data p {
	padding-bottom: 0;
}

.game-name {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1rem;
	font-weight: 700;
}

.games-img__section {
	transition: .2s ease-in-out;
}

.games-img__section:hover {
	transform: scale(0.95);
}

.games__nav {
	margin: 2rem 5rem;
}

.games__nav-links {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

@media (max-width: 480px) {
	h1 {
		font-size: 5rem;
	}

	.games__nav-links {
		justify-content: center;
	}
}