/* =============================================
 Default styles + resets
 =============================================== */

*, body, header, nav ul, .intro h1, .publish-date, .title {
	box-sizing: border-box;
	margin: 0;
}

::selection {
	color: var(--green-lighter);
	background: #ffdea0;
}

@counter-style ul-main {
  system: cyclic;
  symbols: '❧';
  suffix: '  ';
}

@counter-style ul-prince-m {
  system: cyclic;
  symbols: '♀';
  suffix: '  ';
}

@counter-style ul-prince-f {
  system: cyclic;
  symbols: '♂';
  suffix: '  ';
}

/* =============================================
 Fonts
 =============================================== */

@font-face {
	font-family: DM Serif Display;
	src: url("/fonts/DMSerifDisplay-Regular-subset.woff2") format("woff2");
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: Nyght Serif Light;
	src: url("/fonts/NyghtSerif-Light-subset.woff2") format("woff2");
	font-weight: 400;
	font-display: swap;
}

/* =============================================
 Colours
 =============================================== */

:root {

	/* Main colour variables */
	--red: #fc1420;
	--red-rust: #af3500;

	--green: #094739;
	--green-lighter: #295f2b;
	--green-neon: #c4e53c;

	--mint-white: #fafff0;
	--off-white: #f7f7f7;

	--grey-darker: #181818;
	--grey-dark: #222;
	--grey: #323330;
	--grey-code: #24292e;
	--grey-nice: #696969;
	--grey-light: #d8dfd7;

	--pink: #f7d7ff;
	--pink-cashmere: #ebb7c8;

	--purple-prince: #421a51;

	--peach: #f7c59f;

	--blue: #004e89;
	--blue-highlight: #253ca0;
	--blue-sapphire: #0028c7;
	--blue-hydra :#016895;
	--aquamarine: #7fffd4;

	--orange: #ff5704;

	/* Layout colour variables */
	--bg-main: var(--mint-white);
	--bg-gameslist: var(--blue);

	/* Text colour variables */
	--text-main: var(--grey-dark);
	--text-secondary: var(--off-white);
	--text-filter: var(--aquamarine);
}

/* =============================================
 Layout
 =============================================== */

:root {
	--width-main: calc(100% - 2rem);

	--space-xs: .5rem;
	--space-sm: .75rem;
	--space-md: 1rem;
	--space-lg: 2rem;
	--space-lgr: 2.5rem;
	--space-xl: 4rem;
}

@media (min-width: 50em) {
	:root {
		--max-width: 45rem;
		--max-width-home: 50rem;
	}

}

/* =============================================
 Fonts
 =============================================== */

:root {
	--font-body: system-ui, Helvetica, Arial,	Apple Color Emoji, Segoe UI Emoji, sans-serif;
	--font-heading-h1: Nyght Serif Light, DM Serif Display, Georgia, sans-serif;
	--font-heading-h2: DM Serif Display, Georgia, sans-serif;
	--font-code: "Fira Code", "SF Mono", "Roboto Mono", monospace;
	--font-code-date: monospace;

	--font-bold: 700;

	--font-size-xl: 2.5rem;
	--font-size-lg: 1.5rem;
	--font-size-def: 1rem;
	--font-size-sm: .85rem;
	--font-size-xs: .75rem;

	--font-body-size: clamp(.875rem, 1.1rem, 1.25rem);
	
	--font-size-h1: clamp(1rem, var(--font-size-xl) + 1.9692vw, 4rem);
	--font-size-h2: clamp(1.5rem, calc(var(--font-size-xl)), 3rem);
	--font-size-h3: clamp(0.5rem, 1.5rem, 2rem);
}

/* =============================================
The rest
=============================================== */

#hello, .clock, .latest, .publish-date, .title,
tr td:first-child {
	font-weight: 700;
}

*, .intro h1, .publish-date, .title, body, header,
nav ul {
	margin: 0;
}

.post-listing .publish-date {
	flex: 0 0 auto;
	align-content: center;
}

header {
	flex-direction: column;
	justify-content: center;
	padding: var(--space-xs);
	margin-block: var(--space-xl);
}

.publish-date {
	text-align: center;
	font-family: var(--font-code-date);
	font-size: 1rem;
	text-transform: uppercase;
}

.post-meta {
	margin-block: calc(var(--space-xl)) calc(var(--space-xl) + var(--space-lg));
}

.title-meta {
	text-align: center;
	margin-block: var(--space-lg);
}

.title-meta h1 {
	font-size: calc(var(--font-size-h1) * 1.2);
	margin-bottom: var(--space-sm);
}

.post-meta h1 {
	color: var(--green);
	text-align: center;
}

body {
	background: var(--mint-white);
	color: var(--grey-dark);
	flex-direction: column;
	min-height: 100vh;
	font-size: var(--font-body-size);
	font-weight: 360;
	line-height: 1.625;
	font-family: var(--font-body);
}

.latest,
.year {
	font-size: var(--font-size-xl);
}

@media (min-width: 50em) {
	:root {
		--max-width: 45rem;
		--max-width-home: 50rem;
	}

}

ul.center:first-child {
	line-height: 0;
}

.wiki-desc, h2, h3, iframe, ol, table, ul {
	margin-bottom: 1.4rem;
}

h1 {
	font-size: var(--font-size-h1);
	margin-bottom: var(--space-lg);
}

h1 {
	color: var(--green);
}

.h1__home, .h2__home {
	color: var(--grey);
}

h1, .h2__home {
	letter-spacing: -1px;
}

ul li ul {
	margin-bottom: 0;
}

.layout {
	display: grid;
	grid-template-columns: 1fr;
	margin-inline: var(--space-lg);
	width: min(80vw, var(--max-width));
}

.pokeballs {
	text-align: center;
	height: 24px;
	margin-block: var(--space-xl);
}

.nav-bar, .page-links, .post-listing, .post-pagination, body, header, nav ul {
	display: flex;
}

body {
	align-items: center;
}

nav ul {
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  column-gap: calc(var(--space-lgr) * 0.1);
}

.nav-bar, .page-links {
	justify-content: center;
}

.layout > article {
	grid-column: 2;
}

article ul {
	list-style-type: ul-main;
}

nav ul li {
	margin: 0 .75rem;
	font-size: 1rem;
}

.nav-bar {
	align-items: center;
	gap: 20rem;
}

h1 {
	font-family: var(--font-heading-h1);
	line-height: 1;
	font-weight: 400;
}

.clock, blockquote {
	font-family: Georgia, serif;
}

h2 {
	font-family: var(--font-heading-h2);
	font-size: var(--font-size-h2);
	color: var(--blue-hydra);
	line-height: 1;
}

#hello {
	color: var(--green);
}

h3 {
	font-family: -apple-system, Helvetica, Arial, sans-serif;
	font-size: var(--font-size-h3);
  font-weight: 900;
  letter-spacing: -0.5px;
  color: var(--red-rust);
  line-height: 1.1;
}

.breadcrumbs, details, p {
	padding-bottom: 1.4rem;
	line-height: 1.6;
	letter-spacing: .2px;
}

blockquote {
	margin: var(--space-lgr) 0;
	padding: 0 var(--space-lg);
	border-left: 10px solid var(--green);
	font-style: italic;
}

p + blockquote {
	margin-top: calc(var(--space-md) + 0.1rem);
}

blockquote p,
footer p {
	padding-bottom: 0;
}

a {
	color: var(--green);
	text-underline-offset: .1em;
	text-decoration-thickness: 1px;
	font-weight: 450;
}

a:active {
	outline: 0;
	border: none;
}

a > code:not([class*="language"]) {
	position: relative;
	color: var(--green);
	background: 0 0;
	text-underline-offset: .2rem;
}

a > code:not([class*="language"])::before {
	content: "";
	position: absolute;
	inset: 0;
	display: block;
	background: var(--green);
	opacity: .1;
	border-radius: 3px;
}

a:focus,
a:hover {
	text-decoration: none;
}

a:focus {
	outline: currentColor dotted 2px;
}

code:not([class*="language"]) {
	font-family: var(--font-code);
	color: #e1e4e8;
	background: var(--grey-code);
	margin: -.2rem .05rem -.2rem -.125em;
	word-wrap: anywhere;
	padding-inline: clamp(.31rem, calc(.31rem + 0vw), .31rem);
	padding-top: calc(var(--space-md) * 0.1);
	padding-bottom: calc(var(--space-md) * 0.1);
	border-radius: calc(var(--space-lg) * 0.1);
}

pre > code:not([class*="language"]) {
	background: 0 0;
	padding: 0;
	margin: 0;
	border-radius: 0;
	color: inherit;
}

pre {
	position: relative;
	color: #f3f4f6;
	padding: var(--space-md);
	margin-bottom: 1.38rem;
	width: fit-content;
	max-width: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: break-spaces;
	overflow-wrap: break-word;
	--padding-inline: 1.25rem;
}

img {
	display: block;
	max-width: 100%;
	object-fit: cover;
	height: auto;
}

figcaption {
	font-size: smaller;
}

.page-links {
	margin: var(--space-lg) 0 0;
}

.year {
	margin: var(--space-md) 0;
	width: var(--space-lgr);
	border-bottom: 10px solid #e83731;
}

.prev {
	margin-right: var(--space-lg);
}

.next {
	margin-left: var(--space-lg);
}

.wiki-desc {
	border: 1px solid var(--green);
	background: var(--green);
	padding: var(--space-md);
	color: var(--off-white);
}

table {
	border-spacing: 0;
	border-collapse: collapse;
	background: #dadada;
	width: 100%;
}

thead {
	background: var(--green);
	color: #fff;
}

tr {
	border-bottom: 1px solid #ddd;
}

tbody tr:nth-of-type(2n) {
	background: #f3f3f3;
}

tr:first-child {
	border-top: none;
}

.post-pagination-prev,
th {
	text-align: left;
}

td,
th,
tr {
	padding: var(--space-sm);
}

td {
	font-size: var(--font-size-sm);
}

.content {
	margin: 0 0 var(--space-xl);
}

.intro {
	padding-bottom: 1.4rem;
}

footer {
	border-top: 1px dotted #0a0a0a;
	padding: var(--space-lg);
	text-align: center;
	font-size: smaller;
	width: 100%;
}

.post-listing {
	justify-content: space-between;
	padding-bottom: var(--space-md);
}

.wiki-listing,
p.publish-date {
	padding-bottom: var(--space-xs);
}

.desc {
	font-size: 1.3rem;
	color: var(--grey-nice);
}

.title {
	font-size: 2.25rem;
}

.wiki-h2 {
	margin-bottom: var(--space-lg);
}

.tagged-as {
	margin-bottom: var(--space-md);
	font-size: smaller;
	color: var(--grey-nice);
}

.tags {
	display: inline-block;
	line-height: 1.5rem;
	padding: .25rem .5rem;
	margin-right: var(--space-md);
	border-left: 4px solid var(--green);
	background: #f0f0f0;
}

.float-img-right {
	float: right;
	padding-left: var(--space-md);
}

.float-img-left {
	float: left;
	padding-right: var(--space-md);
}

.space-xl {
	margin-bottom: var(--space-xl);
}

.space-lg {
	margin-bottom: var(--space-lg);
}

.space-md {
	margin-bottom: var(--space-md);
}

@media only screen and (max-width: 480px) {
	
	.publish-date {
		font-size: calc(var(--font-size-def) * 0.8);
	}

	header {
		margin-top: calc(var(--space-lg) + var(--space-md));
	}

	.pokeballs {
		margin-block: var(--space-md);
	}

	.post-meta {
		margin-block: calc(var(--space-md));
}
	
	ul.post-list {
		padding: 0 var(--space-md);
		margin-bottom: 0;
	}

	.post-listing {
		flex-direction: column;
	}

	span.publish-date {
		text-align: left;
		font-size: var(--font-size-sm);
	}
	
	footer {
		padding: var(--space-lg) var(--space-lg) .6rem;
		font-size: inherit;
	}
	
	footer p {
		margin-bottom: 1.2rem;
	}
	
	.desc {
		font-size: calc(1.5rem * .75);
	}
	
	.content {
		margin-bottom: var(--space-lg);
	}
	
	.float-img-right {
		text-align: center;
		float: none;
		padding-bottom: var(--space-xs);
	}
	
}

@media only screen and (max-width: 765px) {
	.nav-bar {
		gap: var(--space-xs);
	}
	
	nav ul {
		display: flex;
		gap: var(--space-lg);
		justify-content: inherit;
	}

	pre {
		font-size: var(--font-size-sm);
	}
	
}

.center {
	align-items: center;
}

.sprites img {
	max-width: 64px;
}

.output-box,
.prompt-box {
	padding: var(--space-md);
	border-radius: 5px;
	border: 1px solid var(--green);
	font-family: var(--font-code);
	margin-bottom: var(--space-md);
	color: var(--off-white);
}

.prompt-box {
	background: #111;
}

.output-box {
	background: #232532;
}

abbr:hover {
	cursor: help;
}

.post-pagination {
	margin: var(--space-md) 0;
	padding: var(--space-md) 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.post-pagination-item {
	flex-grow: 1;
	flex-basis: 0;
	padding: var(--space-sm);
	border-radius: 3px;
	border: 1px solid transparent;
	font-size: smaller;
}

.post-pagination-item:hover {
	border-color: currentColor;
}

.post-pagination-prev::before {
	content: "\2190 ";
	display: inline-block;
	padding-right: var(--space-md);
}

.post-pagination-next {
	text-align: right;
}

.post-pagination-next::after {
	content: " \2192";
	display: inline-block;
	padding-left: var(--space-md);
}

sup {
	font-size: 70%;
}

ul.post-list {
	padding-left: 0;
	margin-bottom: 0;
}

.home-intro :is(h1, p) {
	padding: 0;
}

.home-intro p {
	font-size: 1.1rem;
}

.home-middle p:last-child {
	padding: 0;
}

:lang(pt, es, fr) {
	font-style: italic;
	font-weight: 600;
}

figure + p {
	margin-top: var(--space-md);
}



.h1__block {
	display: flex;
	align-items: flex-end;
	gap: calc(var(--space-lg) * 0.1);
	justify-content: center;
	margin-bottom: calc(var(--space-md) * 1.5);
}

.h1__home,
.h2__home {
	line-height: .75;
	margin: 0;
}

.h1__home, .h2__home {
	font-size: calc(var(--font-size-lg) * 2);
	font-family: var(--font-heading-h2);
}

.nav-links a[aria-current="page"] {
	text-decoration: underline solid var(--red) calc(var(--font-size-def) * 0.3);
	text-underline-offset: var(--space-xs);
}

@media only screen and (max-width:800px) {
	main {
		margin-inline: var(--space-lg);
	}
}

.pink-cashmere {
	color: var(--pink-cashmere);
}

.prince-purple {
	color: var(--prince-purple);
}

.pxl {
	image-rendering: pixelated;
}