---
import Lists from '../../layouts/Lists.astro';
import Layout from '../../layouts/Layout.astro';
import Footer from '../../components/Footer.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import PrevNextLinkingLists from '../../components/PrevNextLinkingLists.astro';

export async function getStaticPaths() {
  const lists = await getCollection('lists');
  return lists.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

const post = Astro.props;
const { Content } = await post.render();

---
<Layout title={post.data.title} description={post.data.description}>
<Lists {...post.data}>
  <main class="layout">
    <article class="content">
      <p class="publish-date"><FormattedDate date={post.data.pubDate} /></p>
        <h1>{post.data.title}</h1>
          <Content />
            <PrevNextLinkingLists />
    </article>
  </main>
<Footer />
</Lists>