---
// COMPONENTS

import BaseHead from '../../../components/BaseHead.astro';
import BlogHeader from '../../../components/BlogHeader.astro';
import BlogFooter from '../../../components/BlogFooter.astro';
import Breadcrumbs from '../../../components/Breadcrumbs.astro';
import site from '../../../data/site.json';
import wiki from '../../../data/wiki.json'

// EXPORT

export interface Props {
post: any;
metaTitle: string;
title: string;
slug: string;
description: string;
domain: string;
}

// PROPS

const { post } = Astro.props;

// METADATA VARIABLES

let title = 'AOTY';
let slug = '/wiki/music/aoty/';
let description = 'A wiki page all about albums of the year.';
let domain = "https://lukealexdavis.co.uk"

---
<html lang="en">
  <head>
    <BaseHead title={'wiki/' + title.toLowerCase()} description={description} canonicalURL={domain + slug} />
  </head>
  <body>
    <BlogHeader />
    <main class="layout">
      <article class="content">
        <Breadcrumbs title={title}/>
        <h1>{title}</h1>
        <p class="desc">{description}</p>
        <h2 class="wiki-h2">Inner voice</h2>
        <ul>
          <li><a href="/post/aoty-2022/">/aoty-2022.md</a></li>
          <li><a href="/post/aoty-2021/">/aoty-2021.md</a></li>
          <li><a href="/post/fave-albums-2020/">/fave-albums-2020.md</a></li>
          <li><a href="/post/aoty-2016/">/aoty-2016.md</a></li>
          <li><a href="/post/my-album-of-the-year-list-2014/">/my-album-of-the-year-list-2014.md</a></li>
          <li><a href="/post/my-50-favourite-albums-of-2012/">/my-50-favourite-albums-of-2012.md</a></li>
          <li><a href="/post/my-favourite-albums-of-the-year-2011/">/my-favourite-albums-of-the-year-2011.md</a></li>
        </ul>
        <h2 class="wiki-h2">Out loud</h2>
        <ul class="post-list">
          <li><a href="https://www.tedgioia.com/bestalbumsof2016.html">Ted Gioia's 100 Best Albums of 2016</a></li>
          <li><a href="https://sampleface.co.uk/samplefaces-favourite-albums-of-2012/">Sampleface’s Favourite Albums Of 2012</a></li>
          <li><a href="https://web.archive.org/web/20121223154010/http://potholesinmyblog.com/the-50-best-albums-of-2012/">Potholes' Best Albums of 2012</a></li>
        </ul>
      </article>
    </main>
    <BlogFooter></BlogFooter>
  </body>
</html>