---
// COMPONENTS

import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import Layout from '../../layouts/Layout.astro';
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import Tags from '../../components/Tags.astro';

// HOW FETCHING!

// const remoteData = await fetch('https://cultrface.co.uk/wp-json/wp/v2/posts?categories=828&per_page=3').then(response => response.json());

// const remoteData2 = await fetch('https://sampleface.co.uk/wp-json/wp/v2/posts?tags=2622&per_page=1').then(response => response.json());

// const remoteData3 = await fetch('https://logicface.co.uk/wp-json/wp/v2/posts?categories=236&per_page=1').then(response => response.json());



// METADATA VARIABLES

let title = 'Black';
let description = "A wiki page all about blackness.";

---
<Layout {title} {description}>
  <style>
    .wiki-h2 ~ blockquote p {padding: 0 0 1rem;}
    .wiki-h2 ~ blockquote cite {font-size: 0.75rem;}
  </style>
    <main class="layout">
      <article class="content">
        <Header />
        <Breadcrumbs title={title}/>
        <section class="intro">
          <h1>{title}</h1>
        </section>
        <section>
          <h2 class="wiki-h2">Inner voice</h2>
            <Tags tagName="Black" />
        </section>
        <section>
          
          <section>
            <h2 class="wiki-h2">Out loud</h2>
            <ul>
              <li><a href="https://sampleface.co.uk/tag/black-culture/">Black culture on Sampleface</a></li>
              <li><a href="https://cultrface.co.uk/category/culture/black-cultures/">Black cultures on Cultrface</a></li>
              <li><a href="https://logicface.co.uk/category/black-in-stem/">Black in STEM on LOGiCFACE</a></li>
              <li><a href="https://logicface.co.uk/category/tech/black-tech/">Black tech on LOGiCFACE</a></li>
              <li><a href="https://playrface.co.uk/tag/black-athletes/">Black athletes on Playrface</a></li>
              <li><a href="https://distantarcade.co.uk/tag/black-in-gaming/">Black in gaming on Distant Arcade</a></li>
              <li><a href="https://distantarcade.co.uk/tag/black-names-in-video-games/">Black Names In Video Games on Distant Arcade</a></li>            
            </ul>
            <h2 class="wiki-h2">Second opinions</h2>
              <ul>
                <li><a href="https://daily.jstor.org/the-history-of-black-owned-record-labels/">The History of Black-Owned Record Labels</a></li>
              </ul>
              <blockquote>
              <p>Perhaps that’s what all human relationship boil down to: Would you save my life? or would you take it?</p>
              <cite>A quote by Toni Morrison from ‘Song of Solomon’</cite>
            </blockquote>
          </section>
        </section>
      </article>
      
    </main>
    <Footer/>
  </body>
</html>