---
// COMPONENTS

import Footer from '../../components/Footer.astro';
import Layout from '../../layouts/Layout.astro';
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import Tags from '../../components/Tags.astro';

// HOW FETCHING!

const remoteData = await fetch('https://playrface.co.uk/wp-json/wp/v2/posts?tags=62&per_page=5').then(response => response.json());

// METADATA VARIABLES

let title = 'Happiness';
let description = "A wiki page all about happiness.";

---
<Layout {title} {description}>
    <main class="layout">
      <article class="content">
        <Breadcrumbs title={title}/>
        <section class="intro">
          <h1>{title}</h1>
        </section>
        <section>
          <h2 class="wiki-h2">Inner voice</h2>
            <Tags tagName="happiness" />
        </section>
        <section>
          
          <section>
            <h2 class="wiki-h2">Out loud</h2>
            <ul>
              <li>
                Coming soon...
              </li>
            </ul>
            <h2 class="wiki-h2">Second opinions</h2>
            <ul>
              <li><a href="https://www.youtube.com/watch?v=OjhBeB9ESqw">"What do I really want? What is really going to make me happy... now?"</a></li>
            </ul>
          </section>
        </section>
      </article>
    </main>
    <Footer/>
  </body>
</html>