---
// COMPONENTS

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

// METADATA VARIABLES

let title = '404';
let description = 'Ruh roh.';
let canonicalURL = Astro.url;

---
<html lang="en">
  <head>
    <BaseHead title={title} description={description} canonicalURL={canonicalURL} />
  </head>
  <body>
  <Header />
  <main class="layout">
    <article class="content">
        <h1>{title}</h1>
      <p>Uh oh, looks like you hit a 404!</p>
  </article>
</main>
<Footer />
</body>
</html>