---
// COMPONENTS

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

// METADATA VARIABLES

let title = 'About';
let description = 'My about page.';
let slug = '/about';
let canonicalURL = Astro.url;

---
<html lang="en">
  <head>
    <BaseHead title={title} description={description} canonicalURL={canonicalURL} />
  </head>
  <body>
  <Header />
  <main class="layout">
    <article class="content">
        <h1>{title}</h1>
      <p>Here are some facts about me and the site.</p>
      <ul>
        <li>I was born in Bradford, West Yorkshire.</li>
        <li>I love the Web a great deal. I fell down the WWW rabbit hole back in 2000 and got into coding a year later. Via graphic design, mathematics, a music tech degree, and 7 years in customer service, I found myself in digital marketing. I'm now an SEO.</li>
        <li>I currently work as a technical SEO and I love SEO.</li>
        <li>I'm Black (with a capital B).</li>
        <li>I'm neurodivergent and <a href="/posts/probably-autistic/">Probably Autistic</a>.</li>
        <li>I've been learning Portuguese since 2017.</li>
        <li>I have a son who is my pride and joy.</li>
        <li>I've had grey hair since I was 20.</li>
        <li>I've lived in 3 different cities in the UK and 1 in the US (Atlanta, for 6 months).</li>
        <li>I also love <a href="/jardim/tech/python/">Python</a>, HTML, and CSS. And the Web. Have I already said that?</li>
        <li>I create for people, not algorithms.</li>
        <li>In my spare time, I enjoy watching <a href="/jardim/sport/">sports</a>, playing <a href="/jardim/pokemon/">Pokémon</a> and reliving my childhood with <a href="/jardim/gaming/">old computer games</a> and cartoons on YouTube. I love <a href="/jardim/architecture/">modernist architecture</a>, Mies van der Rohe, and <a href="/jardim/sport/roger-federer/">Roger Federer</a>.</li>
        <li>I have a degree in Music Technology and <a href="https://strrchildluke.bandcamp.com/">I've been making music since 2010</a>.</li>
    </ul>
      <h2>About the site (aka the colophon)</h2>
      <p>I’ve had so many versions of this site, I’ve lost count. It originally started life as starcrazy.org back in 2009(?) but eventually, I moved over to lukealexdavis.co.uk in 2010. Since then, it’s taken the form of a blog and a hand-coded personal site with numerous cosmetic changes.</p>
      <p>Now, the site is built using <a href="https://astro.build/">Astro</a> and hosted on <a href="https://www.ionos.co.uk/">IONOS</a> <a href="http://aklam.io/9o3lTc">(referral link)</a>.</p>
      <p>The fonts I'm using are <span style="font-family: Erode-Bold;">Erode Bold</span> for headings and your device's default system font for body text.</p>
      <p>The <span style="background:#285f2b;color:#f7f7f7;padding:0.2rem;">green</span> used on the site is <code>#285f2b</code>, or <code>rgb(41, 95, 43)</code> if you'd prefer.</p>
      <p>My relationship with the Web has influenced how I’ve made and remade this site, from FrontPage Express to Microsoft FrontPage to Dreamweaver to Sublime Text. Other influences include:</p>
      <ul>
        <li><a href="https://www.tatianamac.com/">Tatiana Mac</a></li>
        <li><a href="https://tomcritchlow.com/">Tom Critchlow</a></li>
      </ul>
      <h2>Identity and pronouns</h2>
        <p>I'm cisgender man, pansexual, and my pronouns are he/him/his.</p>
      <h2>Copyright</h2>
        <p>All content on this site and my external projects are available under the <a href="https://creativecommons.org/licenses/by-nc-nd/2.0/">CC BY 2.0 licence</a>. All I ask is you credit my work if you use it anywhere and <strong>link back to the site</strong>.</p>
        <p>Page created: 25 Nov 2016 (approx.)</p>
        <p>Page last updated: 25 Oct 2023</p>
  </article>
</main>
<Footer></Footer>
</body>
</html>