---
// COMPONENTS

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import {Content as AboutPage} from '../data/about.mdx';

// METADATA VARIABLES

let title = 'About';
let description = 'My about page. Here are some facts about me and the site.';

---
<BaseHead title={title} description={description} />
<body>
<main class="layout">
  <article class="content">
    <Header />
      <h1>{title} me</h1>
      <AboutPage />
      </article>
    </main>
  <Footer></Footer>
</body>
</html>