---
// COMPONENTS

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import {Content as About} from '../data/about.mdx';

// METADATA VARIABLES

let title = 'About';
let description = 'My about page. Here are some facts about me and the site.';
let canonicalURL = Astro.url;

---
<html lang="en">
  <head>
    <BaseHead title={title} description={description} canonicalURL={canonicalURL} />
  </head>
  <body>
  <Header />
  <main class="layout">
    <article class="content">
        <h1>{title}</h1>
      <p>Here are some facts about me and the site.</p>
      <About />
  </article>
</main>
<Footer></Footer>
</body>
</html>