---
// COMPONENTS

import Layout from '../layouts/Layout.astro';
import {Content as AboutPage} from '../data/about.mdx';

// METADATA VARIABLES

let title = 'About';
let description = 'My about page. Here are some facts about me and the site.';
---
<Layout title={title} description={description}>
  <h1>{title} me</h1>
    <AboutPage />
</Layout>