---
// COMPONENTS

import Layout from '../layouts/Layout.astro';
import ButtonsComponent from '../components/ButtonsComponent.astro';

// METADATA VARIABLES

let title = 'Buttons';
let description = 'A page full of my favourite 88x31 web buttons.';
let canonicalURL = Astro.url;

---

<style>
  .buttons {
    line-height: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 0.5rem;
    image-rendering: pixelated;
    margin-bottom: 2rem;
  }

  .link-back {
    margin-bottom: 2rem;
    text-align: center;
  }

  .link-back figure {
    margin-bottom: 0.5rem;
  }

</style>

<Layout title={title} description={description}>
      <h1>{title}</h1>
      <p>{description} 88×31 buttons from <a href="https://yesterweb.org/graphics/buttons">yesterweb.org</a>, <a href="https://lmnt.me/badges/">lmnt.me</a>, <a href="https://capstasher.neocities.org/88x31collection-page1">capstasher.neocities.org</a> and various Tumblrs.</p>
      <p>Feel free to link back using the button below but please download and host it on your own server :)</p>
      <section class="link-back">
      <figure>
        <img src="/images/buttons/ld-badge-88x31.gif" alt="Luke Alex Davis button" width="88" height="31" fetchpriority="high">
      </figure>
      <div>
        <textarea name="buttoncode" aria-label="Button code" style="resize:none;width:100%;height:11ch"><!--CODE TO USE-->

&lt;a href="https://lukealexdavis.co.uk/"&gt;&lt;img src="https://YOURDOMAIN.com/ld-badge-88x31.gif" alt="Luke Alex Davis button" width="88" height="31"&gt;&lt;/a&gt;</textarea>
        </div>
    </section>
      <section class="buttons">
        <ButtonsComponent />
      </section>
      <section>
        <section class="buttons">
        <a href="https://www.tumblr.com/glittergroovy/740521754591674368/noikaido309-blinkies-dump-that-i-made-for-my"><img src="/images/daft-punk.webp" alt="a daft punk animated banner with a rainbow gradient flashing from left to right" width="600" height="80" fetchpriority="high"></a>
        <a href="https://myblinkie.holidaycomments.com/view/pre-made-blinkies/youve-got-mail.gif.php"><img src="/images/youve-got-mail.gif" alt="a yellow figure as a postman holding a letter with a blinking text next to him that says you've got mail" style="image-rendering: pixelated" width="223" height="93"></a>
      </section>
      </section>
</Layout>