---
// COMPONENTS

import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogFooter from '../components/BlogFooter.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';

// METADATA VARIABLES

let metaTitle = ' | Luke Davis';
let title = 'Ducks';
let description = 'A list of my favourite ducks, in order.';
let slug = '/ducks';
let canonicalURL = Astro.url;

---
<html lang="en">
  <head>
    <BaseHead title={title + metaTitle} description={description} canonicalURL={canonicalURL} />
  </head>

  <body>
    <BlogHeader />
    <main class="layout">
      <article class="content">
          <h1>{title}</h1>
                  <h2>My favourite ducks.</h2>
                  <ol>
                    <li>Donald Duck</li>
                    <li>Count Duckula</li>
                    <li>Duck from Rosie & Jim</li>
                    <li>Daffy Duck</li>
                    <li><a href="https://twitter.com/MusicologyDuck/">Musicology Duck</a></li>
                    <li>Darkwing Duck</li>
                    <li>Dewey, Huey, and Louie Duck</li>
                    <li>Alfred Kwak</li>
                    <li>Wade Duck from Garfield & Friends</li>
                    <li>The Mighty Ducks</li>
                    <li>Scrooge McDuck</li>
                    <li>Maui Mallard/Cold Shadow</li>
                  </ol>
      </article>
          </main>
           <BlogFooter></BlogFooter>
  </body>
</html>
