---
// COMPONENTS

import Layout from '../layouts/Layout.astro';
import {Content as Heuristics} from '../data/heuristics.md';

// METADATA VARIABLES

let title = 'Heuristics';
let description = 'A list of fallback ways of life.';
---
<Layout title={title} description={description}>
  <h1>{title}</h1>
  <p>{description}</p>
    <Heuristics />
</Layout>