---
// COMPONENTS

import Markdown from '@astrojs/markdown-component';
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogFooter from '../components/BlogFooter.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';

// EXPORT

export interface Props {
  post: any;
  metaTitle: string;
  title: string;
  slug: string;
  description: string;
  domain: string;
}

// PROPS

const { post } = Astro.props;

// METADATA VARIABLES

let metaTitle = ' | Luke Davis';
let title = 'Important albums';
let description = 'A list of my important albums in my life.';
let canonicalURL = Astro.url;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} canonicalURL={canonicalURL} />
  </head>
<body>
  <BlogHeader />
    <main class="layout">
      <article class="content">
          <h1>{title}</h1>
          <Markdown>
            | Artist      | Album       | Release Year |
            |-------------|-------------|--------------|
            | Coming soon | Coming soon | Coming soon  |
          </Markdown>   
              </article>
            </main>
      <BlogFooter></BlogFooter>
  </body>
</html>