---
// COMPONENTS
import Layout from '../layouts/Layout.astro';
import CurrentlyListening from '../components/CurrentlyListening.astro';
import Pokeballs from '../components/Pokeballs.astro';
import Latest from '../components/Latest.astro';
import sd from '../data/sd.json';

// METADATA VARIABLES
let metaTitle = 'Luke Davis: technical SEO, music producer & creator';
let title = 'Luke Davis';
let description = 'The digital home of Luke Davis: a senior technical SEO, music producer, and blogger based in the UK.';

let greetings = {
  'pt': ['bom dia!', 'boa tarde!', 'boa noite!', 'ola!'],
  'es': ['¡buenos dias!', '¡buenos tardes!', '¡buenos noches!', '¡hola!'],
  'en': ['good morning!', 'good afternoon!', 'good evening!', 'hello!'],
  'fr': ['bonjour!', 'bonsoir!']
};

let langs = Object.keys(greetings);
let randLangs = langs[Math.floor(Math.random()*langs.length)]
let sayHello = greetings[randLangs][Math.floor(Math.random()*greetings[randLangs].length)];
---

<style>

  h2 ul li {
    margin-bottom: 2rem;
  }

  ul {
    margin-bottom: 0;
  }

  @media only screen and (max-width:800px) {
    .layout > article {
      grid-column: 1;
      margin: 0 1rem;
    }
  }

  #welcome {
    font-family: DM Serif Display, Times New Roman, serif;
    font-size: 3rem;
  }

  .tagline {
    font-size: 1.75rem;
    font-weight: 450;
    line-height: 1.4;
  }

  #hello:lang(pt, es, fr) {
    font-style: normal;
  }

  @media only screen and (max-width:480px) {

    #welcome {
      font-size: 2.5rem;
      line-height: 1;
      margin-bottom: var(--space-md);
    }

    .tagline {
      font-size: 1.25rem;
      line-height: 1.4;
    }

  }

  .home-middle {
    text-align: center;
  }

</style>

<Layout title={title} description={description}>
  <section class="home-middle">
    <div id="welcome">
      {greetings[randLangs] !== "en" ?
        <span id="hello" lang=randLangs>
          {sayHello}
        </span>
        : <span id="hello">sayHello</span>}
    </div>
    <p class="tagline">I'm a senior technical SEO specialist, music producer, and blogger based in Nottingham, UK.</p>
  </section>
  <Pokeballs />
  <Latest />
  <Pokeballs />
  <CurrentlyListening />
<script type="application/ld+json" set:html={JSON.stringify(sd)}></script>
</Layout>