---
// COMPONENTS

import { Markdown } from 'astro/components';
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogFooter from '../components/BlogFooter.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';

// EXPORT

export interface Props {
  post: any;
  metaTitle: string;
  title: string;
  slug: string;
  description: string;
  domain: string;
}

// PROPS

const { post } = Astro.props;

// METADATA VARIABLES

let metaTitle = ' | Luke Davis';
let title = 'Linktree';
let description = 'My personal linktree.';
let canonicalURL = Astro.canonicalURL.href;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} canonicalURL={canonicalURL} />
  </head>
<body>
  <BlogHeader />
    <main class="layout">
      <article class="content">
          <h1>{title}</h1>
          <ul>
            <li><a href="https://www.patreon.com/lukealexdavis">My Patreon</a></li>
            <li><a href="https://strrchildluke.bandcamp.com/">My music</a></li>
            <li><a href="https://twitter.com/LukeDavisSEO">My Twitter page</a></li>
            <li><a href="https://www.linkedin.com/in/lukealexdavis/">My LinkedIn</a></li>
            <li><a href="https://ko-fi.com/lklxdvs">My Ko-fi page</a></li>
            <li><a href="https://www.paypal.com/paypalme/lukealexdavis">My PayPal</a></li>
            <li><a href="https://impression.us14.list-manage.com/subscribe?u=c1cce409a55af945bf9e5d386&id=33ecdacb8c">My D&I newsletter</a></li>
            <li><a href="https://tinyletter.com/lukealexdavis">My personal newsletter</a></li>
         </ul>          
              </article>
            </main>
      <BlogFooter></BlogFooter>
  </body>
</html>