---
// COMPONENTS

import Layout from '../layouts/Layout.astro';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';

// PROPS

const { post } = Astro.props;

// METADATA VARIABLES

let title = 'Links';
let description = 'A page of links. This is like a blogroll but not all the links are blogs.';
---

<Layout {title} {description}>
    <main class="layout">
      <article class="content">
          <h1>{title}</h1>
          <p>This is like a blogroll but not all the links are blogs. Having a page of links might not be the cool thing to do anymore but it's a nice way to "give back" to the sites you enjoy the most. And let's be honest, if you see links, you're gonna want to click on them to see where they take you. That's the joy of the internet and hypermedia—discovery!</p>
         <ul>
           <li><a href="https://wildramppublishing.com/">Wild Ramp Publishing</a> - shout out to Keidra and her team!</li>
           <li><a href="https://www.atlasobscura.com/">Atlas Obscura</a> - uncovering some of the world's most wonderful spaces, places, and cultural artefacts</li>
           <li><a href="https://blogroll.org/">Blogroll.org</a> - you'll never guess what this site does!</li>
           <li><a href="https://www.jvt.me/">Jamie Tanna</a> - a software engineer with a cool site</li>
           <li><a href="https://www.kottke.org/">Jason Kottke</a> - one of the OG bloggers. An inspiration to how I blog.</li>
           <li><a href="https://waxy.org/">Andy Baio</a> - blogger and Web technologist. I love a link blog.</li>
           <li><a href="https://soap.systems/">the soap zone</a> - greatest website of all time</li>
         </ul>       
              </article>
            </main>
      <Footer/>
  </body>
</html>