---
// COMPONENTS

import { Markdown } from 'astro/components';
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogFooter from '../components/BlogFooter.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';

// EXPORT

export interface Props {
  post: any;
  metaTitle: string;
  title: string;
  slug: string;
  description: string;
  domain: string;
}

// PROPS

const { post } = Astro.props;

// METADATA VARIABLES

let metaTitle = ' | Luke Davis';
let title = 'Links';
let description = 'A page of links.';
let canonicalURL = Astro.canonicalURL.href;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} canonicalURL={canonicalURL} />
  </head>
<body>
  <BlogHeader />
    <main class="layout">
      <article class="content">
          <h1>{title}</h1>
         <ul>
           <li><a href="https://wildramppublishing.com/">Wild Ramp Publishing</a></li>
           <li><a href="https://www.artsy.net/">Artsy</a></li>
           <li><a href="https://waxy.org/">Waxy.org</a></li>
           <li><a href="https://www.atlasobscura.com/">Atlas Obscura</a></li>
           <li><a href="https://www.jenkemmag.com/home/">Jenkem Mag</a></li>
           <li><a href="https://themorningnews.org/">The Morning News</a></li>
           <li><a href="https://gal-dem.com/">gal-dem</a></li>
           <li><a href="https://blogroll.org/">Blogroll.org</a></li>
         </ul>       
              </article>
            </main>
      <BlogFooter></BlogFooter>
  </body>
</html>