---
// COMPONENTS

import Markdown from '@astrojs/markdown-component';
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogFooter from '../components/BlogFooter.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';

// EXPORT

export interface Props {
  post: any;
  metaTitle: string;
  title: string;
  slug: string;
  description: string;
  domain: string;
}

// PROPS

const { post } = Astro.props;

// METADATA VARIABLES

let metaTitle = ' | Luke Davis';
let title = 'Links';
let description = 'A page of links.';
let canonicalURL = Astro.url;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} canonicalURL={canonicalURL} />
  </head>
<body>
  <BlogHeader />
    <main class="layout">
      <article class="content">
          <h1>{title}</h1>
          <p>This is like a blogroll but not all the links are blogs. Having a page of links might not be the cool thing to do anymore but it's a nice way to "give back" to the sites you enjoy the most. And let's be honest, if you see links, you're gonna want to click on them to see where they take you. That's the joy of the internet and hypermedia—discovery!</p>
         <ul>
           <li><a href="https://wildramppublishing.com/">Wild Ramp Publishing</a> - shout out to Keidra and her team!</li>
           <li><a href="https://www.atlasobscura.com/">Atlas Obscura</a> - uncovering some of the world's most wonderful spaces, places, and cultural artefacts</li>
           <li><a href="https://blogroll.org/">Blogroll.org</a> - you'll never guess what this site does!</li>
           <li><a href="https://www.jvt.me/">Jamie Tanna</a> - a software engineer with a cool site</li>
           <li><a href="https://www.kottke.org/">Jason Kottke</a> - one of the OG bloggers. An inspiration to how I blog.</li>
           <li><a href="https://www.waxy.org/">Andy Baio</a> - blogger and Web technologist. I love a link blog.</li>
         </ul>       
              </article>
            </main>
      <BlogFooter></BlogFooter>
  </body>
</html>