---
// COMPONENTS

import BaseHead from '../components/BaseHead.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';

// METADATA VARIABLES

let title = 'Misc';
let description = 'A list of miscellaneous pages that don't fit anywhere else on the site.';

---
<Layout {title} {description}>
    <main class="layout">
      <article class="content">
          <h1>{title}</h1>
                  <h2>A list of miscellaneous pages.</h2>
                  <ul>
                    <li><a href="/fave-tweets/">My favourite tweets</a></li>
                    <li><a href="/important-albums/">Important albums</a></li>
                    <li><a href="https://ld89.org/">ld89.org is back in a new form</a></li>
                    <li><a href="/links/">A page of links</a></li>
                    <li><a href="/linktree/">My Linktree but it's hosted here</a></li>
                    <li><a href="/ducks/">My favourite ducks</a></li>
                    <li><a href="/lastfm-top-1000/">My Last.fm Top 1000 Artists</a></li>
                    <li><a href="/letterboxd-diaries/">My Letterboxd diaries</a></li>
                  </ul>
      </article>
          </main>
           <Footer/>
  </body>
</html>
