---
// COMPONENTS

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

// METADATA VARIABLES

let title = 'Misc';
let description = 'Lots of miscellaneous pages on the site.';

---
<BaseHead title={title} description={description} canonicalURL={Astro.url} />
<body>
  <main class="layout">
    <article class="content">
      <Header />
        <h1>{title}</h1>
        <p>this is my miscellaneous page with links to pages that don't go anywhere else.</p>
        <ul>
          <li><a href="/uses/">uses</a> - the tech that i use</li>
          <li><a href="/projects/">projects</a> - all the projects that i work on</li>
          <li><a href="/press/">press</a> - various articles i've written and videos i've featured in</li>
          <li><a href="/mlog/">mlog</a> - my media logs</li>
          <li><a href="/music/">music</a> - all my music</li>
          <li><a href="/fave-tweets/">fave tweets</a> - my favourite tweets</li>
          <li><a href="/important-albums/">important albums</a> - albums that are important to me</li>
          <li><a href="/letterboxd-diaries/">letterboxd diaries</a> - all the films i've logged on Letterboxd since 2018</li>
          <li><a href="/gameslist/">gameslist</a> - all the games i've been playing lately</li>
          <li><a href="/blogroll/">blogroll</a> - a showcase of some of my favourite blogs</li>
          <li><a href="/buttons/">buttons</a> - some 88x31 web buttons i've picked up along the way</li>
          <li><a href="/links/">links</a> - a page of links</li>
          <li><a href="/blank/">a blank page</a> - intentionally left that way</li>
          <li><a href="/yep/">a yep page</a> - everything i want and agree with</li>
          <li><a href="/nope/">a nope page</a> - everything i don't want and disagree with</li>
          <li><a href="/is-seo-dead-yet/">is SEO dead yet?</a> the answer will not shock you</li>
          <li><a href="https://pinboard.in/u:lukealexdavis">my pinboard</a> - where i keep most of my bookmarks that i don't need in my browser</li>
        </ul>
      </article>
    </main>
    <Footer />
    </body>
  </html>