---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogFooter from '../components/BlogFooter.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let metaTitle = ' | Luke Alex Davis';
let title = 'Misc';
let description = 'A list of miscellaneous pages.';
let slug = '/misc';
let canonicalURL = Astro.request.canonicalURL + '/';

// Full Astro Component Syntax:
// https://github.com/snowpackjs/astro/blob/main/docs/core-concepts/astro-components.md
---
<html lang="en">
  <head>
    <BaseHead title={title + metaTitle} description={description} canonicalURL={canonicalURL} />
    <link rel="stylesheet" href="/style/blog.css" />

    <style>
      body {
        width: 100%;
        display: flex;
      }

      header {
        width: 100%;
        height: 100%;
        background-color: var(--theme-bg-offset);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .content {
        margin-bottom: 8rem;
      }

      .content :global(main > * + *) {
        margin-top: 1rem;
      }

      .intro {
        padding-bottom: 1.4rem;
      }

      .intro > * {
        margin: 0;
      }

      .latest {
        font-size: 2.5rem;
        font-weight: 700;
      }
    </style>
  </head>

  <body>
    <BlogHeader />
    <div class="layout">
      <article class="content">
        <section class="intro">
          <h1>{title}</h1>
        </section>
        <section>
                  <h2>A list of miscellaneous pages.</h2>
                  <ul>
                    <li><a href="/fave-tweets/">My favourite tweets</a></li>
                    <li><a href="/important-albums/">Important albums</a></li>
                    <li><a href="https://ld89.org/">ld89.org is back in a new form</a></li>
      
    </section>
       

      </article>
          </div>
           <BlogFooter></BlogFooter>
  </body>
</html>
