---
// COMPONENTS

import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogFooter from '../components/BlogFooter.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';

// METADATA VARIABLES

let metaTitle = ' | Luke Davis';
let title = 'Misc';
let description = 'A list of miscellaneous pages.';
let slug = '/misc';
let canonicalURL = Astro.url;

---
<html lang="en">
  <head>
    <BaseHead title={title + metaTitle} description={description} canonicalURL={canonicalURL} />
  </head>

  <body>
    <BlogHeader />
    <main class="layout">
      <article class="content">
          <h1>{title}</h1>
                  <h2>A list of miscellaneous pages.</h2>
                  <ul>
                    <li><a href="/fave-tweets/">My favourite tweets</a></li>
                    <li><a href="/important-albums/">Important albums</a></li>
                    <li><a href="https://ld89.org/">ld89.org is back in a new form</a></li>
                    <li><a href="/links/">A page of links</a></li>
                    <li><a href="/linktree/">My Linktree but it's hosted here</a></li>
                    <li><a href="/ducks/">My favourite ducks</a></li>
                    <li><a href="/my-pokemon-teams/">My Pokémon teams</a></li>
                  <li><a href="/lastfm-top-1000/">My Last.fm Top 1000 Artists</a></li>
                  </ul>
      </article>
          </main>
           <BlogFooter></BlogFooter>
  </body>
</html>
