---
// COMPONENTS

import Markdown from '@astrojs/markdown-component';
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogFooter from '../components/BlogFooter.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';

// EXPORT

export interface Props {
  post: any;
  metaTitle: string;
  title: string;
  slug: string;
  description: string;
  domain: string;
}

// PROPS

const { post } = Astro.props;

// METADATA VARIABLES

let metaTitle = ' | Luke Davis';
let title = 'My Pokémon teams';
let description = 'A collection of some of my Pokémon teams over the years.';
let canonicalURL = Astro.url;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} canonicalURL={canonicalURL} />
    <link rel="preload" as="image" href="/images/pokemon/rby_team.gif" type="image/gif">
    <link rel="preload" as="image" href="/images/pokemon/gsc_team.gif" type="image/gif">
    <link rel="preload" as="image" href="/images/pokemon/rse_team.gif" type="image/gif">
  </head>
<body>
  <BlogHeader />
    <main class="layout">
      <article class="content">
          <h1>My Pokémon teams</h1>
          <p>This page is dedicated to all the first <a href="/wiki/pokemon/">Pokémon</a> teams I've had in every Pokémon game I've played. I also plan to add some of my VGC teams.</p>
            <h2>Pokémon Blue</h2>
              <img src="/images/pokemon/rby_team.gif" alt="Blastoise, Graveler, Victreebel, Electrode, Pidgeot, and Articuno"/>
            <p>Despite having a legendary in the team, Blastoise the alpha and omega. I instantly fell in love from the box art and I always pick Squirtle. I didn't have any friends to trade with so Graveler remained unevolved. Pidgeot was my go-to flying type until I got Articuno but that served more as a stone cold assassin.</p>
            <h2>Pokémon Silver</h2>
              <img src="/images/pokemon/gsc_team.gif" alt="Feraligatr, Haunter, Pidgeot, Lugia, Graveler, and Ampharos"/>
            <p>It was another case of double birds. Lugia captured my heart at 11 years old and I've loved her ever since. Haunter was the second "no friends so no evolution" 'mon.</p>
            <h2>Pokémon Sapphire</h2>
              <img src="/images/pokemon/rse_team.gif" alt="Swampert, Swellow, Aggron, Kyogre, Hariyama, and Glalie"/>
            <p>This was the first game where I couldn't rely on Gen 1 Pokémon but the ones I made do with had awesome character designs. A floating Jason X ball? An iron dragon monster boss? KYOGRE?!</p>
            <h2>Pokémon Violet</h2>
              <img src="/images/pokemon/sv_team.gif" alt="Quaquaval, Scovillain, Bellibolt, Tauros, Grumpig, and Scizor" loading="lazy"/>
            <p>I love Scovillain. That is all for now.</p>
              </article>
            </main>
      <BlogFooter></BlogFooter>
  </body>
</html>