---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogFooter from '../components/BlogFooter.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let metaTitle = ' | Luke Alex Davis';
let title = 'Press';
let description = 'A collection of articles I\'ve written and talks I\'ve done.';
let slug = '/press';
let canonicalURL = Astro.canonicalURL.href;

// Full Astro Component Syntax:
// https://github.com/snowpackjs/astro/blob/main/docs/core-concepts/astro-components.md
---
<html lang="en">
  <head>
    <BaseHead title={title + metaTitle} description={description} canonicalURL={canonicalURL} />
    <link rel="stylesheet" href="/style/blog.css" />

    <style>
      body {
        width: 100%;
        display: flex;
      }

      header {
        width: 100%;
        height: 100%;
        background-color: var(--theme-bg-offset);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .content {
        margin-bottom: 8rem;
      }

      .content :global(main > * + *) {
        margin-top: 1rem;
      }

      .intro {
        padding-bottom: 1.4rem;
      }

      .intro > * {
        margin: 0;
      }

      .latest {
        font-size: 2.5rem;
        font-weight: 700;
      }
    </style>
  </head>

  <body>
    <BlogHeader />
    <div class="layout">
      <article class="content">
        <section class="intro">
          <h1>{title}</h1>
        </section>
        <section>
                  <h2>{description}</h2>
                  <h3>Writing</h3>
                  <ul>
                        <li>
                              <a href="https://www.searchenginejournal.com/what-is-ethical-ppc/350888/">What is Ethical PPC?</a> - Search Engine Journal, 2020
                        </li>
                        <li>
                              <a href="https://www.ppchero.com/how-learning-python-can-improve-your-ppc-campaigns/">How Learning Python Can Improve Your PPC Campaigns</a> - PPC Hero, 2020
                        </li>
                        <li>
                              <a href="https://www.adzooma.com/blog/google-is-not-a-meritocracy/">Google Is Not A Meritocracy</a> - Adzooma, 2019
                        </li>
                        <li>
                              <a href="https://logicface.co.uk/my-new-favourite-blog-post-is-about-hypertext-from-1998/">My new favourite blog post is about hypertext from 1998</a> - LOG!CFACE, 2019
                        </li>
                        <li>
                              <a href="https://themovehubdotcom.wordpress.com/2018/11/21/my-footballing-magi/">My Footballing Magi</a> - The Move Hub, 2018
                        </li>
                        <li>
                              <a href="https://cultrface.co.uk/the-un-cultural-appropriation-illegal/">The UN want to combat cultural appropriation. But is that enough?</a> - Cultrface, 2017
                        </li>
                        <li>
                              <a href="https://web.archive.org/web/20140810163903/http://www.revive-music.com/2013/05/02/give-the-drummer-sum-j-dillas-influence-on-the-modern-drummer/">Give The Drummer Sum: J Dilla’s Influence on the Modern Drummer</a> - Revive Music, 2014
                        </li>
                        <li>
                              <a href="https://sampleface.co.uk/black-milk-no-poison-no-paradise/">Review: Black Milk - No Poison No Paradise</a> - Sampleface, 2013
                        </li>
                  </ul>
                  <h3>Talks</h3>
                  <ul>
                              <li><a href="https://page2podcast.fm/s2-ep45-luke-davis/">The Page 2 Podcast: An SEO Podcast (Episode #45)</a></li>
                              <li><a href="https://bytraject.com/blog/experimenting-with-seo-luke-davis/">Experimenting with SEO On the B Sides with Luke Davis</a></li>
                              <li><a href="https://www.youtube.com/watch?v=HkcdT2xvlLM&amp;t=18718s">VirtuaCon 3.0 July 2020 | Virtual #SEO Conference</a> (Skip to about 5:11:00 to hear my talk)</li>
                        </ul>
      
    </section>
       

      </article>
          </div>
           <BlogFooter></BlogFooter>
  </body>
</html>
