---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogFooter from '../components/BlogFooter.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let metaTitle = ' | Luke Davis';
let title = 'Projects';
let description = 'A list of projects I have or am currently working on.';
let slug = '/projects/';
let canonicalURL = Astro.canonicalURL.href;

// Full Astro Component Syntax:
// https://github.com/snowpackjs/astro/blob/main/docs/core-concepts/astro-components.md
---
<html lang="en">
  <head>
    <BaseHead title={title + metaTitle} description={description} canonicalURL={canonicalURL} />
    <link rel="stylesheet" href="/style/blog.css" />

    <style>
      body {
        width: 100%;
        display: flex;
      }

      header {
        width: 100%;
        height: 100%;
        background-color: var(--theme-bg-offset);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .content {
        margin-bottom: 8rem;
      }

      .content :global(main > * + *) {
        margin-top: 1rem;
      }

      .intro {
        padding-bottom: 1.4rem;
      }

      .intro > * {
        margin: 0;
      }

      .latest {
        font-size: 2.5rem;
        font-weight: 700;
      }
    </style>
  </head>

  <body>
    <BlogHeader />
    <div class="layout">
      <article class="content">
        <section class="intro">
          <h1>{title}</h1>
        </section>
        <section>
      <h2>These are the projects I am currently working on.</h2>
      <ul>
                  <li><a href="https://pandog.media/">Pandog Media</a> - A network for the Black Digital community.</li>
                  <li><a href="https://sampleface.co.uk/">Sampleface</a> - A music sampling blog. <b>We face the music.</b></li>
                  <li><a href="https://cultrface.co.uk/">Cultrface</a> - A culture blog. <b>#ForTheCultr</b></li>
                  <li><a href="https://logicface.co.uk/">LOG!CFACE</a> - A STEM blog for POCs. <b>We face the future in colour.</b></li>
                  <li><a href="https://playrface.co.uk/">Playrface</a> - A sports blog. <b>It's all about the playing.</b></li>
                  <li><a href="https://distantarcade.co.uk/">Distant Arcade</a> - A gaming blog. <b>Future blogger fun time video games action.</b></li>
                  <li><a href="https://marketersofcolour.com/">Marketers of Colour</a> - A site for people of colour who work in marketing to find resources and talks featuring other people of colour.</li>
            </ul>
      
    </section>
       

      </article>
          </div>
           <BlogFooter></BlogFooter>
  </body>
</html>
