---
// COMPONENTS

import Layout from '../layouts/Layout.astro';
import {Content as Stims} from '../data/stims.mdx';

// METADATA VARIABLES

let title = 'Stims';
let description = "A collection of my various stims.";

---
<Layout {title} {description}>
      <h1>{title}</h1>
      <Stims />
</Layout>