---
// COMPONENTS

import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

// METADATA VARIABLES

let title = 'Support';
let description = 'This is my support page where you can find ways to support my work and various projects.';

---
<Layout {title} {description}>
    <main class="layout">
      <article class="content">
        <Header />
          <h1>How To {title} Me</h1>
          <p>There are various ways you can support me and my work.</p>
          <h2>With money</h2>
          <ul>
            <li><a href="https://www.patreon.com/lukealexdavis">You can subscribe to my Patreon.</a> Everyone who pledges gets a free membership card and there are a ton of tier rewards you can get. <strong>Pledges start at $1 per month.</strong></li>
            <li><a href="https://ko-fi.com/lklxdvs">You can make a one-off contribution on Ko-fi.</a> <strong>My default "coffee" price is £3</strong>.</li>
            <li><a href="https://www.paypal.com/paypalme/lukealexdavis">You can make a one-off contribution on PayPal.</a> <strong>No minimum</strong>.</li>
            <li><a href="https://strrchildluke.bandcamp.com">Buy my music.</a> You can buy a song, an EP, an album, or my whole discography. Start anywhere, end with joy.</li>
          </ul>
          <h2>With love</h2>
          <ul>
            <li>Engage with my content. Whether it involves tweets, blog posts, or projects, share them, leave comments, retweet, give feedback, link back to my website.</li>
            <li><a href="mailto:luke@lukealexdavis.co.uk">Email me</a> stuff you think I’ll like. It beats getting junk!</li>
            <li>Write about me on your own sites and link back. I've written thousands of blog posts and I might have something interesting for you.</li>
            <li><a href="/linktree/">Share my personal linktree</a>.</li>
          </ul>
            <h2>My Patrons</h2>
            <p>Shout out to my patrons:</p>
            <ul>
              <li><a href="https://twitter.com/TheDazzlingOne">Ashley</a></li>
              <li><a href="https://linktr.ee/KeidraC">Keidra</a></li>
              <li><a href="https://jessbpeck.com/">Jess</a></li>
              <li><a href="https://sybrand.ink/">Sy</a></li>
              <li><a href="https://thepenguinpatrol.co.uk/">Sophie</a></li>
              <li><a href="https://ko-fi.com/josefien">Josefien</a></li>
              <li><a href="https://medium.com/@kiddotrue">Ariel</a></li>
              <li><a href="https://blackanimepodcasts.com/">Ash</a></li>
            </ul>
            <h2>Road To 2K</h2>
            <label for="savings">Savings progress</label>
          <progress id="savings" value="0" max="2000"> 0% </progress>
          <p>£0/£2,000 (0%)</p>
      </article>
    </main>
    <Footer/>
  </body>
</html>