---
// COMPONENTS

import Layout from '../layouts/Layout.astro';
import {Content as UsesPage} from '../data/uses.mdx';

// METADATA VARIABLES

let title = 'Uses';
let description = 'A page about the tech that I use.';
---

<Layout title={title} description={description}>
  <h1>What I use</h1>
    <p>Here is a detailed list of the tech that I use.</p>
    <UsesPage />
</Layout>