---
// COMPONENTS

import Layout from '../layouts/Layout.astro';
import Webrings from '../components/Webrings.astro';

// METADATA VARIABLES

let title = 'My webrings';
let description = "A page where all the webrings I'm in go.";

---

<Layout title={title} description={description}>
      <h1>{title}</h1>
      <p>{description}</p>
      <p>Inspired by <a href="https://baccyflap.com/rsp/">Baccyflap</a></p>
      <section>
        <Webrings leftLink="https://xn--sr8hvo.ws/previous" rightLink="https://xn--sr8hvo.ws/next">An <a href="https://xn--sr8hvo.ws">IndieWeb Webring</a> 🕸💍</Webrings>
        <Webrings backgroundColor="#fa9aba" leftLink="https://hotlinewebring.club/lukealexdavis/previous" rightLink="https://hotlinewebring.club/lukealexdavis/next">Member of the <a href="https://hotlinewebring.club/">Hotline Webring</a></Webrings>
        <Webrings backgroundColor="linear-gradient(90deg,rgba(248, 166, 204, 1) 0%, rgba(248, 211, 168, 1) 50%);" leftLink="https://silly.city/prev?user=Luke%20Davis" rightLink="https://silly.city/next?user=Luke%20Davis">A <a href="https://silly.city/">silly.city webring</a></Webrings>
        <Webrings backgroundColor="black" linkColor="white" leftLink="https://1.44mb.club/prev" rightLink="https://1.44mb.club/next"><a href="https://1.44mb.club/">💾</a></Webrings>
        <Webrings backgroundColor="#89bbe3" leftLink="https://webmasterwebring.netlify.app?lukealexdavis-previous" rightLink="https://webmasterwebring.netlify.app?lukealexdavis-next"><a href="https://webmasterwebring.netlify.app">Webmaster Webring</a> <a href="https://webmasterwebring.netlify.app?lukealexdavis-random">?</a></Webrings>
        <Webrings backgroundColor="#1c1b22" linkColor="white" leftLink="https://webri.ng/webring/cssjoy/previous?via=https://lukealexdavis.co.uk/" rightLink="https://webri.ng/webring/cssjoy/next?via=https://lukealexdavis.co.uk/"><span style="color:white;"><a style="color:white;" href="https://cs.sjoy.lol/">CSS Joy Webring</a> (<a style="color:white;" href="https://webri.ng/webring/cssjoy/random?via=https://lukealexdavis.co.uk/">Random</a>)</span></Webrings>
        <Webrings leftLink="https://teethinvitro.neocities.org/webring/linuxring/redirect/lukeprev.html" rightLink="https://teethinvitro.neocities.org/webring/linuxring/redirect/lukenext.html"><a href="https://teethinvitro.neocities.org/webring/linuxring">*nixRing <img style="height: 25px;" src="https://teethinvitro.neocities.org/webring/linuxring/icon/tux.png"></a></Webrings>
        <Webrings backgroundColor="#212121" linkColor="#ffb300" leftLink="https://static.quest/previous/?host=lukealexdavis.co.uk/" rightLink="https://static.quest/next/?host=lukealexdavis.co.uk/"><span style="color:white;"><a style="color:#ffb300;" href="https://static.quest/members">A member of the Static.Quest web ring!</a> (<em><a style="color:#ffb300;" href="https://static.quest/random">Feeling lucky?</a></em>)</span></Webrings>
        <Webrings backgroundColor="#363a40" linkColor="white" leftLink="https://meta-ring.hedy.dev/previous" rightLink="https://meta-ring.hedy.dev/next"><span style="color:white;"><a style="color:white;" href="https://meta-ring.hedy.dev/">Meta Ring</a> (<a style="color:white;" href="https://meta-ring.hedy.dev/random">random</a>)</span></Webrings>
        <Webrings backgroundColor="linear-gradient(90deg, rgba(255,0,0,0.4) 0%, rgba(255,154,0,0.4) 10%, rgba(208,222,33,0.4) 20%, rgba(79,220,74,0.4) 30%, rgba(63,218,216,0.4) 40%, rgba(47,201,226,0.4) 50%, rgba(28,127,238,0.4) 60%, rgba(95,21,242,0.4) 70%, rgba(186,12,248,0.4) 80%, rgba(251,7,217,0.4) 90%, rgba(255,0,0,0.4) 100%);" leftLink="https://qtpoc-ring.netlify.app/previous" rightLink="https://qtpoc-ring.netlify.app/next"><a href="https://qtpoc-ring.netlify.app">QTPOC Webring</a> (<a href="https://qtpoc-ring.netlify.app/random">random</a>)</Webrings>
      </section>
</Layout>