---
let year = new Date().getFullYear()
---

<footer>
  <div id="footer-text">
    <p>Copyright {year} © Luke Davis. Built with HTML, CSS, and <a href="https://astro.build/">Astro</a> which has made this super fun. <a href="https://twitter.com/t3dotgg/status/1481344430921502720">Special tweet added for good luck.</a></p>
  </div>
  <div id="footer-text">
    <p>[ <a href="/html-sitemap/">HTML Sitemap</a> ]</p>
  </div>
</footer>