<header class="center">
      <nav class="links">
        <ul class="center">
          <li><svg class="logo" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 50 54" width="50px">
  <title>LD wordmark logo</title>
  <desc>A red rounded hexagon with the initials 'ld.' in lower case in the middle.</desc>
  <path fill="#FC1420" stroke="#FC1420" stroke-miterlimit="10" d="M47.085,39.876c2.323,1.354-22.086,15.584-22.086,12.876
      c0,2.708-24.409-11.521-22.085-12.876c-2.324,1.354-2.324-27.105,0-25.752C0.59,12.771,24.999-1.46,24.999,1.248
      c0-2.708,24.409,11.521,22.086,12.876C49.409,12.771,49.409,41.229,47.085,39.876z"/>
    <path fill="#FFFFFF" d="M16.069,35.021c-0.154,0.53-0.154-17.196,0-16.695c-0.154-0.501,3-3.175,2.973-2.518
      c0.027-0.657,0.027,17.802,0,17.385c0.027,0.418,2.179,1.691,2.081,1.768c0.213,1.134-2.369,2.756-2.378,2.099
      C18.754,37.715,15.915,35.551,16.069,35.021z"/>
    <path fill="#FFFFFF" d="M22.701,34.112c-0.246,0.369-0.246-7.557,0-7.464c-0.246-0.094,2.91-2.766,2.972-2.517
      c-0.062-0.249-3.691-3.305-3.418-2.878c-0.272-0.427,2.314-2.623,2.437-2.069c-0.122-0.554,6.632,5.176,6.36,5.396
      c0.271-0.221,0.271,8.819,0,8.513c0.271,0.307-4.778,4.569-4.756,4.016C26.272,37.664,22.455,34.481,22.701,34.112z
       M28.087,26.206c0.074-0.196-2.482-2.36-2.408-2.039c-0.074-0.321-0.074,8.589,0,8.393c-0.074,0.196,2.482,2.329,2.408,2.008
      C28.161,34.889,28.161,26.009,28.087,26.206z"/>
    <path fill="#FFFFFF" d="M34.983,32.576c0.002-0.146,2.905,2.273,2.735,2.278c0.17-0.005-2.764,2.573-2.764,2.426
      c0,0.146-2.936-2.303-2.766-2.306C32.02,34.978,34.985,32.43,34.983,32.576z"/>
</svg></li>
          <li><a href="/">Home</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/posts/">Posts</a></li>
          <li><a href="/release-notes/">Release Notes</a></li>
          <li><a href="/morsels/">Morsels</a></li>
          <li><a href="/wiki/">Wiki</a></li>
          <li><a href="/lists/">Lists</a></li>
          <li><a href="/projects/">Projects</a></li>
          <li><a href="/press/">Press</a></li>
          <li><a href="/support/">Support</a></li>
          <li><a href="/misc/">Misc</a></li>
        </ul>
      </nav>
</header>