---

const { title, date } = Astro.props;

---

<main class="layout">
  <article class="content">
      <p class="publish-date">{date}</p>
      <h1>{title}</h1>
    <section>
      <slot />
    </section>
  </article>
</div>
