---

const { title, date } = Astro.props;

---

<div class="layout">
  <article class="content">
      <p class="publish-date">{date}</p>
      <h1>{title}</h1>
    <main>
      <slot />
    </main>
  </article>
</div>
