---

const { title, pubDate } = Astro.props;

---

<main class="layout">
  <article class="content">
      <p class="publish-date">{pubDate}</p>
      <h1>{title}</h1>
      <slot />
  </article>
</div>
