---
let year = new Date().getFullYear()
---

<footer>
    <p>Built with HTML, CSS, and <a href="https://astro.build/">Astro</a> which has made this super fun. <a href="https://twitter.com/t3dotgg/status/1481344430921502720">Special tweet added for good luck.</a></p>
    <p>[ <a href="/html-sitemap/">HTML Sitemap</a> ]</p>
    <p>Member of the <a href="https://512kb.club/">512KB Club</a> and <a href="https://1mb.club/">1MB Club</a>.</p>
    <p><a href="https://hotlinewebring.club/lukealexdavis/previous">&#8604;</a> Member of the <a href="https://hotlinewebring.club/">Hotline Webring</a> <a href="https://hotlinewebring.club/lukealexdavis/next">&rarrw;</a></p>
    <p><a href='https://webring.dinhe.net/prev/https://lukealexdavis.co.uk/'>&#8604;</a> Member of the <a href="https://hotlinewebring.club/">Retronaut Webring</a> <a href='https://webring.dinhe.net/next/https://lukealexdavis.co.uk/'>&rarrw;</a></p>
    <p>- - - - -</p>
    <p>Copyright {year} © Luke Davis</p>
</footer>