---
export interface Props {
  title: string;
  date: string;
}

const { title, date } = Astro.props;

---

<div class="layout">
  <article class="content">
  <div>
      <p class="publish-date">{date}</p>
      <h1 class="title">{title}</h1>
    <main>
      <slot />
    </main>
  </article>
</div>

<style>

.content {
  margin-bottom: 8rem;
}

.content :global(h2) {
  margin-top: 4rem;
}

header {
  margin-bottom: 3rem;
}

p.publish-date {
  color: var(--theme-text-lighter);
  border-bottom: 10px solid var(--color-green);
  width: 20%;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
}

</style>
