---
export interface Props {
  post: any;
}

const { post } = Astro.props;

---
<article class="post-preview">
  <li class="post-listing">
    <a href={post.url}>{post.frontmatter.title}</a>
    <span class="publish-date">{post.frontmatter.date}</span>
    </li>
</article>