---
const { title } = Astro.props;
---

<nav class="breadcrumbs" aria-label="breadcrumbs"><a href="/jardim/">jardim</a> <span aria-hidden="true">&raquo;</span> <span aria-current="location">{title}</span></nav>