---
const { title, className } = Astro.props;
---

<nav class="breadcrumbs" aria-label="breadcrumbs"><a class={className} href="/jardim/">jardim</a> <span aria-hidden="true">&raquo;</span> <span aria-current="location">{title}</span></nav>