---
import site from '../data/site.json'

export interface Props {
  canonicalURL: string;
  title: string;
}

const {
  title,
  canonicalURL = Astro.request.url
}: Props = Astro.props;

---

<p><a href="/wiki/">wiki</a> &raquo; <a href={canonicalURL}>{title}</a></p>