---
---
<a href="https://seafare.neocities.org/"><img src="/images/buttons/ydykbtB.png" alt="A shiny Totodile with the words 'seafare' next to it" width="88" height="31" fetchpriority="high"></a>
<a href="https://dustedpink.neocities.org/home"><img src="/images/buttons/a0MDvIS.gif" width="88" height="31" alt="dustedpink badge"/></a>
<a href="https://rabidrodent.neocities.org/"><img src="/images/buttons/rabidrodent-button.png" alt="rabidrodent link button" width="88" height="31" fetchpriority="high"></a>
<img src="/images/buttons/ab-white.gif" alt="best viewed with any browser" width="88" height="31" fetchpriority="high">
<img src="/images/buttons/free-palestine-88x31.gif" alt="a grey button with the palestine flag and the words 'free palestine' next to it" width="88" height="31" fetchpriority="high">
<img src="/images/buttons/transnow2.gif" alt="a grey button with the trans flag and the words 'trans rights now!' next to it" width="88" height="31" fetchpriority="high">
<img src="/images/buttons/madeonamac.gif" alt="made on a Mac" width="88" height="31" fetchpriority="high">
<img src="/images/buttons/antinft_002.gif" alt="This is an anti-NFT site" width="88" height="31" fetchpriority="high">
<img src="/images/buttons/gba_now.png" alt="a grey button with a GBA on it and the words 'gba now' next to it" width="88" height="31" fetchpriority="high">
<img src="/images/buttons/Area51_Nebula_7492_jamnow.gif" alt="the Jamiroquai logo flashing black and white" width="88" height="31" fetchpriority="high">
<img src="/images/buttons/Athens_Aegean_8479_Links_tucows.gif" alt="a black and white cow, green grass, and the word TUCOWS at the top" width="88" height="31" fetchpriority="high">
<img src="/images/buttons/gateway-button.gif" alt="a black and white cow print box next to the words GATEWAY in green" width="88" height="31" fetchpriority="high">
<img src="/images/buttons/baja_dunes_2918_lycos.gif" alt="the Lycos logo from the 90s" width="88" height="31" fetchpriority="high">
 <img src="/images/buttons/i_dream_in_html.gif" alt="I DREAM IN HTML but each word is styled like an HTML tag" width="88" height="31" fetchpriority="high">
<img src="/images/buttons/queer-coded.gif" alt="you're telling me a queer coded this" width="88" height="31" fetchpriority="high">
<img src="/images/buttons/3ds.png" alt="a 3DS web button" width="88" height="31" fetchpriority="high">
<img src="/images/buttons/snes.png" alt="a SNES web button" width="88" height="31" fetchpriority="high">
<img src="/images/buttons/game-boy.png" alt="a Game Boy web button" width="88" height="31" fetchpriority="high">
<img src="/images/buttons/color.gif" alt="a Game Boy Color web button" width="88" height="31" fetchpriority="high">
<img src="/images/buttons/ps.gif" alt="a PlayStation web button" width="88" height="31" fetchpriority="high">
<img src="/images/buttons/he-him.png" alt="a he/him web button" width="88" height="31" fetchpriority="high">
<img src="/images/buttons/firefox-user.gif" alt="a firefox user web button" width="88" height="31" fetchpriority="high">
<img src="/images/buttons/bitwarden.gif" alt="a bitwarden user web button" width="88" height="31" fetchpriority="high">
<img src="/images/buttons/rainbow.gif" alt="a rainbow user web button" width="88" height="31" fetchpriority="high">
<a href="https://lmnt.me/"><img src="/images/buttons/lmnt-animated.gif" alt="an animated LMNT web button" width="88" height="31" fetchpriority="high"></a>
<a href="https://wiby.me/"><img src="/images/buttons/wiby.gif" alt="a wiby.me search button with a lighthouse on it" width="88" height="31" fetchpriority="high">
</a>
<a href="https://eva.town/"><img src="/images/buttons/eva-town.png" alt="an eva town button" width="88" height="31" fetchpriority="high">
</a>
<a href="https://archive.org/"><img src="/images/buttons/internet-archive.gif" alt="an internet archive web button" width="88" height="31" fetchpriority="high">
</a>
<a href="https://moonpr1sm.com/random/30plusclub"><img src="/images/buttons/30plusclub.gif" alt="a 30+ club web button" width="88" height="31" fetchpriority="high">
</a>
<a href="https://espy.world/"><img src="/images/buttons/espy-world-button.gif" alt="an epsy world button featuring a mysterious black and green figure on the right side" style="image-rendering: pixelated" width="88" height="31" fetchpriority="high"></a>
<img src="/images/buttons/pride.png" alt="a pride flag incorporating the POC colours" style="image-rendering: pixelated" width="88" height="31" fetchpriority="high">
<a href="https://virtualmoose.org/"><img src="/images/buttons/virtual-moose.png" alt="a pixel moose" style="image-rendering: pixelated" width="88" height="31" fetchpriority="high"></a>
<a href="https://theworksofegan.net/"><img src="https://theworksofegan.net/img/twoe-button.gif" alt="theworksofegan" title="The Works of Egan" width="88" height="31" fetchpriority="high"></a>
<a href="https://oakreef.ie/"><img src="https://oakreef.ie/88x31/oakreef.gif" alt="oakreef.ie" title="Oak Reef Zone" width="88" height="31" fetchpriority="high"></a>
<a href="https://moonbase.lgbt" title="Moonbase Dot LGBT"><img src="https://moonbase.lgbt/88x31/moonbase.gif" alt="Moonbase Dot LGBT" width="88" height="31" style="image-rendering:pixelated;"></a>
<a href="https://adamledoux.net"><img src="/images/buttons/button_bitsy.png" width="88" height="31" alt="adam le doux dot net"></a>
<a href="https://renkotsuban.com"><img src="/images/buttons/renkotsuban-button.gif" alt="Midnight Reading: Renkon's Personal Site" width="88" height="31" fetchpriority="high"></a>
<a href="https://frills.dev/"><img src="/images/buttons/frills.png" alt="Midnight Reading: Renkon's Personal Site" width="88" height="31" fetchpriority="high" style="image-rendering:pixelated;"></a>
<a href="https://astro.build/"><img src="/images/buttons/astro-button.png" alt="astro button" width="88" height="31" fetchpriority="high"></a>
<a href="https://muan.co/">
	<picture>
        <source srcset="/images/banner.png" type="image/webp">
        <img src="https://muan.co/images/banner.png" width="88" height="31" alt="An banner with one short line, one medium line, one long line, and then a symbol resembling the tilde." loading="lazy">
    </picture>
</a>