---
---
<a href="https://seafare.neocities.org/"><img src="/images/buttons/ydykbtB.png" alt="A shiny Totodile with the words 'seafare' next to it" width="88" height="31" loading="eager"/></a>

<a href="https://maria.town"><img src="/images/buttons/maria_town_88x31.png" width="88" height="31" alt="maria.town badge" loading="eager"/></a>

<a href="https://dustedpink.neocities.org/home"><img src="/images/buttons/a0MDvIS.gif" width="88" height="31" alt="dustedpink badge" loading="eager"/></a>

<a href="https://rabidrodent.neocities.org/"><img src="/images/buttons/rabidrodent-button.png" alt="rabidrodent link button" width="88" height="31" loading="eager"/></a>

<img src="/images/buttons/ab-white.gif" alt="best viewed with any browser" width="88px" height="31px" loading="eager"/>

<img src="/images/buttons/free-palestine-88x31.gif" alt="a grey button with the palestine flag and the words 'free palestine' next to it" width="88px" height="31px" loading="eager"/>

<img src="/images/buttons/transnow2.gif" alt="a grey button with the trans flag and the words 'trans rights now!' next to it" width="88px" height="31px" loading="eager"/>

<img src="/images/buttons/madeonamac.gif" alt="made on a Mac" width="88px" height="31px" loading="eager"/>

<img src="/images/buttons/antinft_002.gif" alt="This is an anti-NFT site" width="88px" height="31px" loading="eager"/>

<img src="/images/buttons/gba_now.png" alt="a grey button with a GBA on it and the words 'gba now' next to it" width="88px" height="31px" loading="eager"/>

<img src="/images/buttons/Area51_Nebula_7492_jamnow.gif" alt="the Jamiroquai logo flashing black and white" width="88px" height="31px" loading="eager"/>

<img src="/images/buttons/Athens_Aegean_8479_Links_tucows.gif" alt="a black and white cow, green grass, and the word TUCOWS at the top" width="88px" height="31px" loading="eager"/>

<img src="/images/buttons/baja_dunes_2918_lycos.gif" alt="the Lycos logo from the 90s" width="88px" height="31px" loading="eager"/>

 <img src="/images/buttons/i_dream_in_html.gif" alt="I DREAM IN HTML but each word is styled like an HTML tag" width="88px" height="31px" loading="eager"/>

<img src="/images/buttons/queer-coded.gif" alt="you're telling me a queer coded this" width="88px" height="31px" loading="eager"/>

<img src="/images/buttons/3ds.png" alt="a 3DS web button" width="88px" height="31px" loading="eager"/>

<img src="/images/buttons/snes.png" alt="a SNES web button" width="88px" height="31px" loading="eager"/>

<img src="/images/buttons/game-boy.png" alt="a Game Boy web button" width="88px" height="31px" loading="eager"/>

<img src="/images/buttons/ps.gif" alt="a PlayStation web button" width="88px" height="31px" loading="eager"/>

<img src="/images/buttons/he-him.png" alt="a he/him web button" width="88px" height="31px" loading="eager"/>

<img src="/images/buttons/firefox-user.gif" alt="a firefox user web button" width="88px" height="31px" loading="eager"/>

<img src="/images/buttons/bitwarden.gif" alt="a bitwarden user web button" width="88px" height="31px" loading="eager"/>

<img src="/images/buttons/rainbow.gif" alt="a rainbow user web button" width="88px" height="31px" loading="eager"/>

<a href="https://lmnt.me/"><img src="/images/buttons/lmnt-animated.gif" alt="an animated LMNT web button" width="88px" height="31px" loading="eager"/></a>

<a href="https://wiby.me/"><img src="/images/buttons/wiby.gif" alt="a wiby.me search button with a lighthouse on it" width="88px" height="31px" loading="eager"/>
</a>

<a href="https://eva.town/"><img src="/images/buttons/eva-town.png" alt="an eva town button" width="88px" height="31px" loading="eager"/>
</a>

<a href="https://archive.org/"><img src="/images/buttons/internet-archive.gif" alt="an internet archive web button" width="88px" height="31px" loading="eager"/>
</a>