---
let title = 'colecçao';
---

<header class="layout">
  <h1>{title}</h1>
  <nav>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>

<style>
  header {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav ul {
    display: flex;
    list-style-type: none;
  }

  nav li {
    padding: 0 1rem;
  }

  @media screen and (max-width: 768px) {

  h1 {
    font-size: 2.5rem;
  }

}

</style>