---
import cl from '../data/cl.json'
---

<style>
	.cl-section {
		margin: 6rem 0;
	}
	.cl {
  		font-style: italic;
	}
</style>

<section class="cl-section">
	<h2>My top songs right now</h2>
	<div>
		<ul class="cl">
			{cl.map((track) => (
			<li>{track.artist['#text']} - {track.name}</li>
			))
			}
		</ul>
	<a href="https://www.last.fm/user/alex_ferguson">More from my Last.fm</a> and <a href="/lastfm-top-1000/">my Last.fm top 1000</a>
	</div>
</section>