---
const { tags } = Astro.props;
import jardim from '../data/tags.json';

function getJardimLink(tag) {
  for (let i = 0; i < jardim.tagEntries.length; i++) {
      if (jardim.tagEntries[i].tagName === tag) {
          return jardim.tagEntries[i].jardimLink;
   }
 }
};

const collator = new Intl.Collator('en');
---

<style>
  
  .filed-under {
    font-variant-caps: all-small-caps;
    margin-bottom: 1.4rem;
    width: fit-content;
  }

  .filed-under__intro {
    font-weight: 700;
    color: var(--grey-nice);
  }

</style>

<div class="filed-under">
  <span class="filed-under__intro">Filed under:</span class=""> {tags.sort(collator.compare).map(
	(tag, i) =>
  getJardimLink(tag) !== undefined ? <span><a href={"/jardim" + getJardimLink(tag)}>{tag}</a>{i < tags.length-1 ? " | " : ""}</span> :
  <span>{tag}</a>{i < tags.length-1 ? " | " : ""}</span>
  )
}
</div>