---
const { tags } = Astro.props;
import jardim from '../data/tags.json';

function getJardimLink(tag) {
  for (let i = 0; i < jardim.tagEntries.length; i++) {
      if (jardim.tagEntries[i].tagName === tag) {
          return jardim.tagEntries[i].jardimLink;
   }
 }
};

const collator = new Intl.Collator('en');
---

<p class="filed-under"><strong>Filed under:</strong> {tags.sort(collator.compare).map(
	(tag, i) =>
  getJardimLink(tag) !== undefined ? <span><a href={"/jardim" + getJardimLink(tag)}>{tag}</a>{i < tags.length-1 ? " | " : ""}</span> :
  <span>{tag}</a>{i < tags.length-1 ? " | " : ""}</span>
  )
}
</p>