---
let year = new Date().getFullYear()
import NonProfitBlogger from './NonProfitBlogger.astro';
---

<style>

    footer {
        display: flex;
        justify-content: space-between;
    }

    @media only screen and (max-width: 480px) {
        footer {
            flex-direction: column;
        }

        footer * {
            text-align: center;
        }
    }

    .footer-nav-links ul {
        display: flex;
        text-align: left;
        flex-direction: column;
        list-style: none;
        padding: 0 0 1rem 0;
    }

    .footer-nav-links li {
        font-size: inherit;
    }

    .colophon {
        text-align: right;
    }


</style>

<footer>
    <nav class="footer-nav-links">
        <ul>
            <li><a href="#top">&ShortUpArrow; Back to top</a></li> 
            <li><a href="/omnifeed.xml" style="color:#bf3f00;">RSS feed</a></li> 
            <li><a href="/release-notes/">Release Notes</a></li> 
            <li><a href="/morsels/">Morsels</a></li> 
            <li><a href="/lists/">Lists</a></li> 
            <li><a href="/recortes/">Recortes</a></li> 
            <li><a href="/linkblog/">Linkblog</a></li> 
            <li><a href="/fave-tweets/">Fave Tweets</a></li> 
            <li><a href="/important-albums/">Important Albums</a></li> 
            <li><a href="/lastfm-top-1000/">Last.fm Top 1000</a></li> 
            <li><a href="/letterboxd-diaries/">Letterboxd Diaries</a></li>
            <li><a href="/gameslist/">Gameslist</a></li>
            <li><a href="/ai/">AI (and how I use it)</a></li>
            <li><a href="/humans.txt">humans.txt</a></li>
        </ul>
    </nav>
    <div class="colophon">
        <p class="clock"></p>
        <p>🇵🇸 Free Palestine!</p>
        <p><a href="https://astro.build/">Built with Astro</a>, HTML, CSS, and a <span lang="fr">soupçon</span> of JS.</p>
        <p><a href="https://twitter.com/t3dotgg/status/1481344430921502720">Special tweet added for good luck.</a></p>
        <p><a href="/html-sitemap/">HTML Sitemap</a></p>
        <p>Member of the <a href="https://250kb.club/">250KB Club</a>, <a href="https://512kb.club/">512KB Club</a> and <a href="https://1mb.club/">1MB Club</a></p>
        <p>Listed @ <a href="https://linklane.net" target="_blank">LinkLane.Net</a></p>
        <p><a href="https://hotlinewebring.club/lukealexdavis/previous">&#8604;</a> Member of the <a href="https://hotlinewebring.club/">Hotline Webring</a> <a href="https://hotlinewebring.club/lukealexdavis/next">&rarrw;</a></p>
        <p><a href="https://xn--sr8hvo.ws/previous">←</a> An <a href="https://xn--sr8hvo.ws">IndieWeb Webring</a> 🕸💍 <a href="https://xn--sr8hvo.ws/next">→</a></p>
        <p><a href="https://silly.city/prev?user=Luke%20Davis">←</a> A <a href="https://silly.city/">silly.city webring</a> <a href="https://silly.city/next?user=Luke%20Davis">→</a></p>
        <p>And I'm not only a member of the Hair Club for Men&mdash;I'm also the president.</p>
        <a href="https://github.com/uxai/non-profit-bloggers/">
            <NonProfitBlogger />
        </a>
        <p>Copyright {year} © Luke Davis</p>
    </div>
<script>function tm(){let t=new Date,e=t.getHours(),n=t.getMinutes(),r=t.getSeconds(),o=`${e.toString().padStart(2,"0")}:${n.toString().padStart(2,"0")}:${r.toString().padStart(2,"0")}`;document.querySelector(".clock").innerText=o}tm(),setInterval(tm,1000);</script>
</footer>