---
let year = new Date().getFullYear()
import NonProfitBlogger from './NonProfitBlogger.astro';

---
<style>

    footer {
        margin-top: var(--space-xl);
        display: flex;
        justify-content: space-between;
        gap: 5rem;
        background: #181818;
        color: #f7f7f7;
    }

    @media only screen and (max-width: 480px) {
        footer {
            flex-direction: column;
        }

        footer * {
            text-align: center;
        }
    }

    .footer-nav-links ul, .colophon ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0 0 1rem 0;
    }

    .footer-nav-links li {
        font-size: inherit;
    }

    .footer-nav-links {
        text-align: left;
    }

    .colophon {
        text-align: right;
    }

    .colophon ul {
        margin-bottom: 0;
    }

    .footer-url {
        font-weight: 700;
    }

    a {
        color: #c4e53c;
    }

    .wmr {
        color: #2da5d8;
    }

    .wmr:hover {
        color: #fa8c8c;
    }


</style>

<footer>
    <nav class="footer-nav-links">
    <ul>
        <li class="footer-url">lukealexdavis.co.uk</li>
        <li>Copyright {year} © Luke Davis</li>
        <li class="clock"></li>
    </ul>
        <ul>
            <li><a href="#top">&ShortUpArrow; Back to top</a> | <a href="/">👠👠</a> (just click the heels once to go home)</li>
        </ul>
        <ul>
            <li><a href="/letterboxd-diaries/">Letterboxd Diaries</a> | <a href="/gameslist/">Gameslist</a> | <a href="/humans.txt">humans.txt</a> | <a href="/rules.txt">rules.txt</a></li>
            </ul>
        <ul>
            <li><a href="/release-notes/">Release Notes</a> | <a href="/morsels/">Morsels</a> | <a href="/lists/">Lists</a> | <a href="/recortes/">Recortes</a> | <a href="/linkblog/">Linkblog</a> | <a href="/webrings/">Webrings</a></l>
        </ul>
            <ul>
            <li><a href="/omnifeed.xml" style="color:#ff5704;">RSS feed</a> | <a href="/html-sitemap/">HTML Sitemap</a> | <a href="/ai/">AI (and how I use it)</a></li>
        </ul>
    </nav>
    <div class="colophon">
    <ul>
        
    </ul>
    <ul>
        <li><a href="https://astro.build/">Built with Astro</a>, HTML, CSS, and a <span lang="fr">soupçon</span> of JS.</li>
        </ul>       
        <ul>
            <li>Member: <a href="https://250kb.club/">250KB Club</a> | <a href="https://512kb.club/">512KB Club</a> | <a href="https://1mb.club/">1MB Club</a></li>
            <li>Listed @ <a href="https://linklane.net" target="_blank">LinkLane.Net</a></li>
            <li>🇵🇸 <a href="/jardim/palestine/">Free Palestine!</a></li>

        </ul>
        <ul><li style="font-family:Georgia,serif;font-style:italic;">And I'm not only a member of the Hair Club for Men<br>&mdash;I'm also the president.</li>
        </ul>
        <a href="https://github.com/uxai/non-profit-bloggers/">
            <NonProfitBlogger />
        </a>
    </div>
<script>function tm(){let t=new Date,e=t.getHours(),n=t.getMinutes(),r=t.getSeconds(),o=`${e.toString().padStart(2,"0")}:${n.toString().padStart(2,"0")}:${r.toString().padStart(2,"0")}`;document.querySelector(".clock").innerText=o}tm(),setInterval(tm,1000);</script>
</footer>