<header class="center" id="top">
  <nav class="links">
      <svg class="logo" xmlns="http://www.w3.org/2000/svg" version="1.2" viewBox="0 0 54 54" width="40px" height="40px">
        <title>LD wordmark logo</title>
        <desc>A red rounded hexagon with the initials 'ld.' in lower case in the middle.</desc>
        <style>
    .s0 { fill: #fc1420;stroke: #fc1420;stroke-miterlimit:10 } 
    .s1 { fill: #ffffff } 
  </style>
  <path id="Layer" class="s0" d="m49.1 39.9c2.3 1.3-22.1 15.6-22.1 12.9 0 2.7-24.4-11.6-22.1-12.9-2.3 1.3-2.3-27.1 0-25.8-2.3-1.3 22.1-15.6 22.1-12.9 0-2.7 24.4 11.6 22.1 12.9 2.3-1.3 2.3 27.1 0 25.8z"/>
  <path id="Layer" class="s1" d="m18.1 35c-0.2 0.6-0.2-17.2 0-16.7-0.2-0.5 3-3.1 2.9-2.5 0.1-0.6 0.1 17.8 0 17.4 0.1 0.4 2.2 1.7 2.1 1.8 0.2 1.1-2.3 2.7-2.4 2.1 0.1 0.6-2.8-1.5-2.6-2.1z"/>
  <path id="Layer" fill-rule="evenodd" class="s1" d="m24.7 34.1c-0.2 0.4-0.2-7.5 0-7.5-0.2 0 2.9-2.7 3-2.5-0.1-0.2-3.5-3.1-3.5-2.9-0.1-0.5 2.4-2.6 2.5-2-0.1-0.6 6.6 5.2 6.4 5.4 0.2-0.2 0.2 8.8 0 8.5 0.2 0.3-4.8 4.6-4.8 4 0 0.6-3.8-2.6-3.6-3zm-0.5-12.9q0 0 0.1 0.1-0.1-0.1-0.1-0.1zm8.9 3.4q0 0 0 0 0 0 0 0zm-3 1.6q0 0 0 0 0 0 0 0zm-2.4-2c-0.1-0.4-0.1 8.6 0 8.4-0.1 0.2 2.5 2.3 2.4 2 0.1 0.3 0.1-8.6 0-8.4 0.1-0.2-2.5-2.4-2.4-2z"/>
  <path id="Layer" class="s1" d="m37 32.6c0-0.2 2.9 2.2 2.7 2.3 0.2-0.1-2.7 2.5-2.7 2.4 0 0.1-3-2.3-2.8-2.3-0.2 0 2.8-2.6 2.8-2.4z"/>
</svg>
            <ul class="center nav-links">
              <li><a href="/">Home</a></li>
              <li><a href="/about/">About</a></li>
              <li><a href="/uses/">Uses</a></li>
              <li><a href="/posts/">Posts</a></li>
              <li><a href="/jardim/">Jardim</a></li>
              <li><a href="/mlog/">Mlog</a></li>
              <li><a href="/music/">Music</a></li>
              <li><a href="/projects/">Projects</a></li>
              <li><a href="/press/">Press</a></li>
              <li><a href="/support/">Support</a></li>
              <li><a href="/misc/">Misc</a></li>
            </ul>
          </nav>
        </header>