---
---

<style>

	.iceberg-notes {
		margin: 3rem 0;
		color: #0084ad;
		font-size: 13px;
		font-family: Verdana, sans-serif;
	}

	.iceberg-notes_h2 {
		color: #007296;
		font-size: 1.5rem;
	}

	#iceberg-notes-link {
		color: inherit;
		opacity: 0.1;
	}
</style>

<hr />
<section class="iceberg-notes">
	<h2 class="iceberg-notes_h2">Iceberg Notes 🧊</h2>
		<slot />
</section>