---
---

<style>

	.iceberg-notes {
		margin: 4rem 0;
		color: #696969;
	}

	.iceberg-notes_h2 {
		color: #be2d00;
		font-size: 1.5rem;
	}

	.iceberg-notes p {
		font-size: 13px;
		font-family: Verdana, sans-serif;
	}

	#iceberg-notes-link {
		color: inherit;
		opacity: 0.1;
	}
</style>

<section class="iceberg-notes">
	<h2 class="iceberg-notes_h2">Iceberg Notes</h2>
	<p><slot /></p>
</section>