---
import lastFmData from '../data/lastfm.json';
---

<style>
	.klub {
		padding: 2rem 2rem 0.6rem 2rem;
		margin-bottom: 2rem;
		border-radius: 1rem;
	}
	.two-k, .one-k, .nine-hundred {
		color: #fff;
	}
	.two-k {
		background: #6A5720;
	}
	.one-k {
		background: #696969;
	}
	.nine-hundred {
		background: #915b27;
	}
</style>

<section class="klub two-k">
	<h2>2K+ Klub 🥇</h2>
		<p><em>{lastFmData.topartists.artist.filter((item: any) => (
			item.playcount > 1999)).map(
				(artist) => artist.name
			).join(', ')}</em></p>
</section>

<section class="klub one-k">
	<h2>1K Klub 🥈</h2>
		<p><em>{lastFmData.topartists.artist.filter((item: any) => (
			item.playcount > 999 && item.playcount < 1999)).map(
				(artist) => artist.name
		).join(', ')}</em></p>
</section>

<section class="klub nine-hundred">
	<h2>900 Klub 🥉</h2>
		<p><em>{lastFmData.topartists.artist.filter((item: any) => (
		item.playcount > 899 && item.playcount < 999
		)).map(
			(artist) => artist.name
		).join(', ')}</em></p>
</section>

<hr />

<p><strong>800 Klub</strong>: <em>{lastFmData.topartists.artist.filter((item: any) => (
	item.playcount > 799 && item.playcount < 899
	)).map(
		(artist) => artist.name
	).join(', ')}</em></p>

<p><strong>700 Klub</strong>: <em>{lastFmData.topartists.artist.filter((item: any) => (
	item.playcount > 699 && item.playcount < 799
	)).map(
		(artist) => artist.name
	).join(', ')}</em></p>

<p><strong>600 Klub</strong>: <em>{lastFmData.topartists.artist.filter((item: any) => (
	item.playcount > 599 && item.playcount < 699
	)).map(
		(artist) => artist.name
	).join(', ')}</em></p>

<p><strong>500 Klub</strong>: <em>{lastFmData.topartists.artist.filter((item: any) => (
	item.playcount > 499 && item.playcount < 599
	)).map(
		(artist) => artist.name
	).join(', ')}</em></p>

<p><strong>400 Klub</strong>: <em>{lastFmData.topartists.artist.filter((item: any) => (
	item.playcount > 399 && item.playcount < 499
	)).map(
		(artist) => artist.name
).join(', ')}</em></p>

<p><strong>300 Klub</strong>: <em>{lastFmData.topartists.artist.filter((item: any) => (
	item.playcount > 299 && item.playcount < 399
	)).map(
		(artist) => artist.name
).join(', ')}</em></p>

<p><strong>200 Klub</strong>: <em>{lastFmData.topartists.artist.filter((item: any) => (
	item.playcount > 199 && item.playcount < 299
	)).map(
		(artist) => artist.name
).join(', ')}</em></p>

<p><strong>100 Klub</strong>: <em>{lastFmData.topartists.artist.filter((item: any) => (
	item.playcount > 99 && item.playcount < 199
	)).map(
		(artist) => artist.name
).join(', ')}</em></p>