---
export interface Props {
  prevUrl: string;
  nextUrl: string;
}

const { prevUrl, nextUrl } = Astro.props;
---
  <div class="nav">
    <a class="page-links" href={prevUrl || '#'} aria-label="Previous Page">Prev</a>
    <a class="page-links" href={nextUrl || '#'} aria-label="Next Page">Next</a>
  </div>