---
import prevNext from '../data/next_prev.json';

function prevNextLinking() {

  for(let i = 0; i < prevNext.length; i++)
{
  if(prevNext[0]["url"] == Astro.url.pathname)
  {
    let prevLink = prevNext[0]["link_data"][0]["prev"];
    let prevTitle = prevNext[0]["link_data"][0]["title"];
    let nextLink = "";
    let nextTitle = "";
    return "<a href=prevLink>prevTitle</a>";
}
---