---
import { getCollection } from 'astro:content';

const { tagName } = Astro.props;

const posts = await getCollection('posts', ({ data }) => {
  return data.tags.includes(tagName);
});

const recortes = await getCollection('recortes', ({ data }) => {
  return data.tags.includes(tagName);
});

const lists = await getCollection('lists', ({ data }) => {
  return data.tags.includes(tagName);
});

const combinedPosts = posts.concat(recortes, lists);

const sortedPosts = combinedPosts.sort((a, b) => a.data.title.localeCompare(b.data.title));

---

<ul>
  {sortedPosts.map(post =>
  <li><a href=`/posts/${post.slug}/`>{post.data.title}</a></li>
  )}
</ul>