---

// COMPONENTS

import BaseHead from '../../components/BaseHead.astro';
import BlogHeader from '../../components/BlogHeader.astro';
import BlogFooter from '../../components/BlogFooter.astro';
import BlogPostPreview from '../../components/BlogPostPreview.astro';

// METADATA VARIABLES

let metaTitle = ' | Luke Davis';
let title = 'Distant Arcade';
let description = 'Distant Arcade project page';
let canonicalURL = Astro.url;

---
<html lang="en">
  <head>
    <BaseHead title={title + metaTitle} description={description} canonicalURL={canonicalURL} />
    <style>.table-cells {font-family: Georgia, serif;}</style>
  </head>
  <body>
    <BlogHeader />
    <main class="layout">
      <article class="content">
        <h1>{title}</h1>
          <table>
            <tbody>
              <tr>
                <td><span class="table-cells"><strong>Date established</strong></span></td>
                <td>2014</td>
              </tr>
              <tr>
                <td><span class="table-cells"><strong>Link</strong></span></td>
                <td><a href="https://distantarcade.co.uk/">distantarcade.co.uk</a></td>
              </tr>
              <tr>
                <td><span class="table-cells"><strong>Made with</strong></span></td>
                <td><a href="https://wordpress.org/">WordPress</a></td>
              </tr>
            </tbody>
          </table>
          <h2>Description</h2>
          <p>Distant Arcade is a blog about gaming.</p>
          <p>You can <a href="https://twitter.com/distant_arcade">follow Distant Arcade on Twitter.</a></p>
      </article>
    </main>
    <BlogFooter></BlogFooter>
  </body>
</html>