---
// COMPONENTS

import Layout from '../../layouts/Layout.astro';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';

// METADATA VARIABLES

let title = 'Distant Arcade';
let description = 'Distant Arcade project page';

---
<Layout {title} {description}>
    <main class="layout">
      <article class="content">
        <p><a href="/projects/">← Back</a></p>
        <h1>{title}</h1>
          <table>
            <tbody>
              <tr>
                <td><span class="table-cells"><strong>Date established</strong></span></td>
                <td>2014</td>
              </tr>
              <tr>
                <td><span class="table-cells"><strong>Link</strong></span></td>
                <td><a href="https://distantarcade.co.uk/">distantarcade.co.uk</a></td>
              </tr>
              <tr>
                <td><span class="table-cells"><strong>Made with</strong></span></td>
                <td><a href="https://wordpress.org/">WordPress</a></td>
              </tr>
            </tbody>
          </table>
          <h2>Description</h2>
          <p>Distant Arcade is a blog about gaming.</p>
          <p>You can <a href="https://twitter.com/distant_arcade">follow Distant Arcade on Twitter.</a></p>
      </article>
    </main>
    <Footer/>
  </body>
</html>