---
// COMPONENTS

import Layout from '../../layouts/Layout.astro';
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';

// METADATA VARIABLES

let title = 'Projects';
let description = 'A list of projects I have or am currently working on.';

---
<Layout {title} {description}>
    <main class="layout">
      <article class="content">
        <h1>{title}</h1>
        <h2>These are the projects I am currently working on.</h2>
        <p>I like projects. They give me something to do and focus on. At the moment, I have 7 on the go which cover a variety of topics so click the links to find out more about them.</p>
        <h3>Websites</h3>
        <ul>
          <li><a href="/projects/pandog-media/">Pandog Media</a></li>
          <li><a href="/projects/sampleface/">Sampleface</a></li>
          <li><a href="/projects/cultrface/">Cultrface</a></li>
          <li><a href="/projects/logicface/">LOG!CFACE</a></li>
          <li><a href="/projects/playrface/">Playrface</a></li>
          <li><a href="/projects/distantarcade/">Distant Arcade</a></li>
          <li><a href="/projects/emptygold-blogger/">Emptygold Blogger</a></li>
        </ul>
      </article>
    </main>
    <Footer/>
  </body>
</html>