---
// COMPONENTS

import Layout from '../../layouts/Layout.astro';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';

// METADATA VARIABLES

let title = 'Marketers of Colour';
let description = 'Marketers of Colour project page';

---
<Layout {title} {description}>
    <main class="layout">
      <article class="content">
        <h1>{title}</h1>
          <table>
            <tbody>
              <tr>
                <td><span class="table-cells"><strong>Date established</strong></span></td>
                <td>2020</td>
              </tr>
              <tr>
                <td><span class="table-cells"><strong>Link</strong></span></td>
                <td><a href="https://marketersofcolour.com/">marketersofcolour.com</a></td>
              </tr>
              <tr>
                <td><span class="table-cells"><strong>Made with</strong></span></td>
                <td><a href="https://wordpress.org/">WordPress</a></td>
              </tr>
            </tbody>
          </table>
          <h2>Description</h2>
          <p>Marketers of Colour is a blog about marketers of colour and their achievements in the industry.</p>
      </article>
    </main>
    <Footer/>
  </body>
</html>