---
// COMPONENTS

import Layout from '../../layouts/Layout.astro';
import Footer from '../../components/Footer.astro';

// METADATA VARIABLES

let title = 'NiTEDREAM';
let description = 'NiTEDREAM project page';

---
<Layout {title} {description}>
    <main class="layout">
      <article class="content">
        <p><a href="/projects/">← Back</a></p>
        <h1>{title}</h1>
          <table>
            <tbody>
              <tr>
                <td><span class="table-cells"><strong>Date established</strong></span></td>
                <td>2025</td>
              </tr>
              <tr>
                <td><span class="table-cells"><strong>Link</strong></span></td>
                <td><a href="https://nitedre.am/">nitedre.am</a></td>
              </tr>
              <tr>
                <td><span class="table-cells"><strong>Made with</strong></span></td>
                <td><a href="https://astro.build/">Astro</a></td>
              </tr>
            </tbody>
          </table>
          <h2>Description</h2>
          <p>NiTEDREAM (formerly Pandog Media) is a network of creative media projects by me that focus on Black digital cultures. It started as Pandog Media in 2017 but was rebranded as NiTEDREAM in 2025 as a way to group all my blogs together but it remains a work in progress.</p>
          <p>You can <a href="https://bsky.app/profile/nitedre.am">follow NiTEDREAM on Bluesky.</a></p>
      </article>
    </main>
    <Footer/>
  </body>
</html>