---

// COMPONENTS

import BaseHead from '../../components/BaseHead.astro';
import BlogHeader from '../../components/BlogHeader.astro';
import BlogFooter from '../../components/BlogFooter.astro';
import BlogPostPreview from '../../components/BlogPostPreview.astro';

// METADATA VARIABLES

let metaTitle = ' | Luke Davis';
let title = 'Pandog Media';
let description = 'Pandog Media project page';
let canonicalURL = Astro.url;

---
<html lang="en">
  <head>
    <BaseHead title={title + metaTitle} description={description} canonicalURL={canonicalURL} />
    <style>.table-cells {font-family: Georgia, serif;}</style>
  </head>
  <body>
    <BlogHeader />
    <main class="layout">
      <article class="content">
        <h1>{title}</h1>
          <table>
            <tbody>
              <tr>
                <td><span class="table-cells"><strong>Date established</strong></span></td>
                <td>2017</td>
              </tr>
              <tr>
                <td><span class="table-cells"><strong>Link</strong></span></td>
                <td><a href="https://pandog.media/">pandog.media</a></td>
              </tr>
              <tr>
                <td><span class="table-cells"><strong>Made with</strong></span></td>
                <td><a href="https://astro.build/">Astro</a></td>
              </tr>
            </tbody>
          </table>
          <h2>Description</h2>
          <p>Pandog is a network of creative media projects by me that focus on Black digital cultures. It started in 2017 as a way to group all my blogs together but it remains a work in progress.</p>
          <p>You can <a href="https://twitter.com/PandogMedia">follow Pandog Media on Twitter.</a></p>
      </article>
    </main>
    <BlogFooter></BlogFooter>
  </body>
</html>