---
// COMPONENTS

import Layout from '../../layouts/Layout.astro';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';

// METADATA VARIABLES

let title = 'Playrface';
let description = 'Playrface project page';

---
<Layout {title} {description}>
    <main class="layout">
      <article class="content">
        <p><a href="/projects/">← Back</a></p>
        <h1>{title}</h1>
          <table>
            <tbody>
              <tr>
                <td><span class="table-cells"><strong>Date established</strong></span></td>
                <td>2017</td>
              </tr>
              <tr>
                <td><span class="table-cells"><strong>Link</strong></span></td>
                <td><a href="https://playrface.co.uk/">playrface.co.uk</a></td>
              </tr>
              <tr>
                <td><span class="table-cells"><strong>Made with</strong></span></td>
                <td><a href="https://wordpress.org/">WordPress</a></td>
              </tr>
            </tbody>
          </table>
          <h2>Description</h2>
          <p>Playrface is a blog about sports.</p>
          <p>You can <a href="https://twitter.com/playrface">follow Playrface on Twitter.</a></p>
      </article>
    </main>
    <Footer/>
  </body>
</html>