---
// COMPONENTS

import BaseHead from '../../components/BaseHead.astro';
import BlogHeader from '../../components/BlogHeader.astro';
import BlogFooter from '../../components/BlogFooter.astro';
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import site from '../../data/site.json';
import wiki from '../../data/wiki.json'

// EXPORT

export interface Props {
  post: any;
}

// PROPS

const { post } = Astro.props;

// METADATA VARIABLES

let metaTitle = ' | Luke Alex Davis';
let title = 'Wiki';
let slug = '/wiki/';
let description = "A personal wiki full of the things I love, with lots of ideas, rough drafts, and related miscellany.";
let domain = "https://lukealexdavis.co.uk"

---
<html lang="en">
  <head>
    <BaseHead title={title + metaTitle} description={description} canonicalURL={domain + slug} />
    
  </head>

  <body>
    <BlogHeader />
      <div class="layout">
        <article class="content">
            <section class="intro">
          <h1>{title}</h1>
        </section>
        <section>
          <p>This is my personal wiki, digital garden, whatever you want to call it. It's a little different to my <a href="/posts/">posts</a> and my <a href="/release-notes/">release notes</a> as this is a collection of blog posts, ideas, rough drafts, and things like that.</p>
          <p>You can also read my mini <a href="/wikinotes/">wikinotes</a>.</p>
          <p>Inspired by <a href="https://tomcritchlow.com/wiki/">Tom Critchlow's Wiki</a>.</p>
        </section>
      <section>
      
    <section>
       <ul class="post-list">
            
              {wiki.branches.map((item) => (
              <li class="post-preview post-listing post-list">
            <a href={item.url}>{item.name}</a>
          </li>
             ))}
        </ul>
    </section>
    </section>
      </article>
      
    </div>
    <BlogFooter></BlogFooter>
  </body>
</html>
