---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import StructuredData from '../components/StructuredData.astro';

type Props = CollectionEntry<'posts'>['data'];

const { title, description, pubDate, canonicalURL = Astro.url } = Astro.props;
---

    <section>
      <slot />
    </section>
  </article>
</div>
</main>
</body>
</html>